{% extends "base.html" %}
{% block title %}api token - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
	{{ block.super }}
	{% load breadcrumb_tags %}
	{% add_crumb 'API token' 'api_token' %}
{% endblock %}
{% block submenu %}
	<ul class="left">
		<li><a href="{% url api_token %}">API token</a></li>
	</ul>
{% endblock submenu %}
{% block content %}
	<div class="box full">
		<div class="header">API token</div>
		<p>
			Your API token:
			<div class="api_token">
				{{ user.profile.api_token }}
			</div>
		</p>
	</div>
{% endblock %}
