{% extends "accounts/settings.html" %}
{% load static django_bootstrap_breadcrumbs %}
{% comment %}
context variables:
    form
{% endcomment %}
{% block title %}change password - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
    {{ block.super }}
    {% breadcrumb 'Change password' 'password_change' %}
{% endblock %}
{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/utils.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#warn-button').click(function(){
                return orly("I understand, change my password, please.");
            });
        });
    </script>
{% endblock extra_head %}
{% block content %}
    <div class="box full">
        <div class="header">Change password</div>
        <form method="post" action="{% url 'password_change' %}">{% csrf_token %}
            {% include "snippets/form.html" %}
            <div class="form_field">
                <input type="submit" id="warn-button" value="Change password">
            </div>
        </form>
    </div>
{% endblock %}
