{% extends "accounts/settings.html" %}
{% comment %}
context variables:
	form
{% endcomment %}
{% block title %}change password - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
	{{ block.super }}
	{% load breadcrumb_tags %}
	{% add_crumb 'Change password' 'password_change' %}
{% endblock %}
{% block extra_head %}
	{{ block.super }}
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
	<script type="text/javascript">
		function warn() {
			$('.hide').fadeIn('slow');
			var btn = $('#warn-button');
			$(btn).val("I understand, change my password, please.");
			$(btn).removeAttr('id');
			var id = $(btn).attr('id');
			if (id == '') {
				return false;
			} else {
				return true;
			}
		}
		$(document).ready(function(){
			$('#warn-button').click(warn);
		});
	</script>
{% endblock extra_head %}
{% block content %}
	<div class="box full">
		<div class="header">Change password</div>
		<form method="post" action="{% url password_change %}">
			{% include "snippets/form.html" %}
			<div class="form_field">
				<input type="submit" id="warn-button" value="Change password">
			</div>
		</form>
	</div>
{% endblock %}
