{% extends "base.html" %}
{% comment %}
context variables:
    form
{% endcomment %}
{% block title %}password reset - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Password reset' %}
{% endblock %}
{% block content %}
    <div class="box full">
        <div class="header">Password reset</div>
        <p>
            Forgotten your password? Enter your e-mail address, and we'll reset your password and e-mail the new one to you.
        </p>
        <form method="post" action="">{% csrf_token %}
            {% include "snippets/form.html" %}
            <div class="form_field">
                <input type="submit" value="Reset my password">
            </div>
        </form>
    </div>
{% endblock %}