{% extends "base.html" %}
{% comment %}
context variables:
    form
    validlink
{% endcomment %}
{% block title %}password change - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Password change' %}
{% endblock %}
{% block content %}
    <div class="box full">
{% if validlink %}
        <div class="header">Password change</div>
        <p>
            Please enter your new password twice so we can verify you typed it in correctly.
        </p>
        <form method="post" action="">{% csrf_token %}
            {% include "snippets/form.html" %}
            <div class="form_field">
                <input type="submit" value="Change my password">
            </div>
        </form>
{% else %}
        <div class="header">Password reset unsuccessful</div>
        <p>
            The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
        </p>
{% endif %}
    </div>
{% endblock %}
