{% extends "base.html" %}{% load pagination_tags %}
{% comment %}
context variables:
	object_list
	paginator
{% endcomment %}
{% block title %}userlist - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
	{{ block.super }}
	{% load breadcrumb_tags %}
	{% add_crumb 'Players' 'accounts.views.userlist' %}
{% endblock %}
{% block content %}
	<div class="box full">
		<div class="header">Userlist</div>
		{% autopaginate object_list %}
		{% paginate %}
		<table>
			<tr>
				<th>Name</th>
				<th>Date joined</th>
			</tr>
			{% for profile in object_list %}
			<tr>
				<td><a href="{{ profile.user.get_absolute_url }}">{{ profile.user }}</a></td>
				<td>{{ profile.user.date_joined }}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="2">No users.</td>
			</tr>
			{% endfor %}
		<tfoot>
			<tr>
				<td colspan="2">{{ paginator.count }} user{{ paginator.count|pluralize }}</td>
			</tr>
		</tfoot>
		</table>
		{% paginate %}
	</div>
{% endblock content %}
