{% extends "base.html" %}{% load pagination_tags %}{% load sorting %}{% load gravatar %}
{% comment %}
context variables:
	users
	paginator
{% endcomment %}
{% block title %}userlist - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
	{{ block.super }}
	{% load breadcrumb_tags %}
	{% add_crumb 'Players' 'userlist' %}
{% endblock %}
{% block content %}
	<div class="box full">
		<div class="header">Userlist</div>
		{% auto_sort users %}
		{% autopaginate users %}
		{% paginate %}
		<table id="userlist">
			<tr>
				<th>{% sort_link "Name" "username" "name" %}</th>
				<th>{% sort_link "Joined" "date_joined" "joined" %}</th>
				<th>{% sort_link "Points" "profile__points" "points" %}</th>
			</tr>
			{% for for_user in users %}
			<tr{% if request.user.id == for_user.id %} class="me" title="that's you!"{% endif %}>
				<td>
					<img src="{% gravatar_url for_user.email 20 %}" class="gravatar" alt="{{ for_user.username }}'s gravatar" title="{{ for_user.username }}'s gravatar">
					<a href="{{ for_user.get_absolute_url }}">{{ for_user }}</a>
				</td>
				<td>{{ for_user.date_joined|date:"F j, Y" }}</td>
				<td>{{ for_user.profile.points|default:0 }}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="3">No users.</td>
			</tr>
			{% endfor %}
		<tfoot>
			<tr>
				<td colspan="3">{{ paginator.count }} user{{ paginator.count|pluralize }}</td>
			</tr>
		</tfoot>
		</table>
		{% paginate %}
	</div>
{% endblock content %}
