{% extends "base.html" %}{% load pagination_tags %}{% load gravatar %}
{% comment %}
context variables:
	object_list
	paginator
{% endcomment %}
{% block title %}userlist - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
	{{ block.super }}
	{% load breadcrumb_tags %}
	{% add_crumb 'Players' 'accounts.views.userlist' %}
{% endblock %}
{% block content %}
	<div class="box full">
		<div class="header">Userlist</div>
		{% autopaginate object_list %}
		{% paginate %}
		<table>
			<tr>
				<th>Name</th>
				<th>Joined</th>
				<th>Points</th>
			</tr>
			{% for profile in object_list %}
			<tr{% if request.user.id == profile.id %} class="me" title="that's you!"{% endif %}>
				<td>
					<img src="{% gravatar_for_user profile.user 20 %}" class="gravatar" alt="{{ profile.user.username }}'s gravatar" title="{{ profile.user.username }}'s gravatar">
					<a href="{{ profile.user.get_absolute_url }}">{{ profile.user }}</a>
				</td>
				<td>{{ profile.user.date_joined }}</td>
				<td>{{ profile.points }}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="3">No users.</td>
			</tr>
			{% endfor %}
		<tfoot>
			<tr>
				<td colspan="3">{{ paginator.count }} user{{ paginator.count|pluralize }}</td>
			</tr>
		</tfoot>
		</table>
		{% paginate %}
	</div>
{% endblock content %}
