coverage>=3.4
Django>=1.2
django-admin-tools>=0.3.0
django-annoying>=0.7.5
django-cache-machine>=0.3
django-coverage>=1.1
-e hg+http://bitbucket.org/jespern/django-piston#egg=django-piston
django-recaptcha-works>=0.3.4
docutils>=0.7
feedparser>=4.1
pycrypto>=2.3