black==18.6b4
celery==4.2.1
coverage==4.5.1
dj-pagination==2.4.0
django-activity-stream==0.6.5
django-annoying==0.10.4
django-bootstrap-breadcrumbs==0.9.1
django-cachalot==2.1.0
django-contrib-comments==1.9.0
django-countries==5.3.2
django-environ==0.4.5
django-gravatar2==1.4.2
django-markwhat==1.6.1
django-picklefield==1.1.0
django-recaptcha==1.4.0
django-redis==4.9.0
django-threadedcomments==1.2
Django==2.0.7
djangorestframework==3.8.2
flake8==3.5.0
furl==1.2.1
isort==4.3.4
Markdown==3.0.1
pinax-badges==2.0.0
psycopg2==2.7.5
pytest-cov==2.6.0
pytest-django==3.4.3
pytest-env==0.6.2
pytest==3.8.1
raven==6.9.0
requests==2.19.1
teerace-tml==0.3
webstack_django_sorting==1.0.1
whitenoise==4.1
