-e git+https://github.com/chaosk/brabeion.git#egg=brabeion
celery>=2.2.3
coverage>=3.4
Django>=1.3
-e git+https://github.com/justquick/django-activity-stream#egg=django-activity-stream
django-admin-tools>=0.4.0
django-annoying>=0.7.5
django-celery>=2.2.3
django-countries>=1.0.5
django-crumbs>=0.5.0
-e git+https://github.com/SushiTee/django-faq.git#egg=django-faq
django-gravatar>=0.1.0
django-pagination>=1.0.7
django-picklefield>=0.1.8
-e git+https://github.com/marcio0/django-piston.git#egg=django-piston
django-recaptcha-works>=0.3.4
-e git+https://github.com/chaosk/django-sorting.git#egg=django-sorting
-e git+https://github.com/chaosk/django-threadedcomments.git#egg=django-threadedcomments
docutils>=0.7
feedparser>=4.1
-e git+https://github.com/jmoiron/johnny-cache.git#egg=johnny-cache
M2Crypto>=0.20.2
Markdown>=2.0.3
-e git+https://github.com/SushiTee/tml.git#egg=tml
south>=0.7