{% extends "base.html" %}
{% block title %}awards - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
	{{ block.super }}
	{% load breadcrumb_tags %}
	{% add_crumb 'Awards' 'awards' %}
{% endblock %}
{% block content %}
	{% for badge in badges_list %}
	<div class="box award {% cycle 'left' 'center' 'right' %}">
		<div class="header">{{ badge.name }}</div>
		<div class="icon award{% if badge.user_has %} awarded{% endif %}" sprite="{{ badge.slug }}-{{ badge.level }}"></div>
		<p>
			{{ badge.description }}
		</p>
		<div style="" class="stats">{{ badge.count }}/{{ user_count }} ({{ badge.percentage|floatformat:2 }}%) users received this award</div>
	</div>
	{% endfor %}
{% endblock content %}
