{% extends "base.html" %}
{% block title %}awards - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
	{{ block.super }}
	{% load breadcrumb_tags %}
	{% add_crumb 'Awards' 'awards' %}
{% endblock %}
{% block content %}
	{% for slug, badge in badges_dict %}
	<div class="box award {% cycle 'left' 'center' 'right' %}">
		<div class="header">{{ badge.name }}</div>
		<div class="icon award" sprite="{{ slug }}-{{ forloop.counter0 }} {% if badge.user_has %}awarded{% endif %}"></div>
		<p>
			{{ badge.description }}
		</p>
	</div>
	{% endfor %}
{% endblock content %}
