{% extends "race/map_base.html" %}{% load human_duration %}
{% comment %}
context variables:
	object_list
	is_paginated
	paginator
	page_obj
	map_types
	filtered_type
{% endcomment %}
{% block submenu %}
	<ul class="left">
		<li><a href="{% url maps %}">All</a></li>{% for type in map_types %}<li><a href="{% url maps__type type.slug %}">{{ type.displayed_name }}</a></li>{% endfor %}
	</ul>
{% endblock submenu %}
{% block breadcrumb %}
	{{ block.super }}
{% if filtered_type %}
	{% load breadcrumb_tags %}
	{% add_crumb filtered_type 'maps__type' filtered_type.slug %}
{% endif %}
{% endblock %}
{% block content %}
		{% if is_paginated %}
			<div class="pagination">
				<span class="step-links">
					{% if page_obj.has_previous %}
					<a href="?page={{ page_obj.previous_page_number }}">previous</a>
					{% endif %}

					<span class="current">
						Page {{ page_obj.number }} of {{ paginator.num_pages }}.
					</span>

					{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}">next</a>
					{% endif %}
				</span>
			</div>
		{% endif %}
		{% for map in object_list %}
		<div class="box map {% cycle 'left' 'right' %}">
			<div class="right">
				{% if not map.grenade_count %}<img src="{{ MEDIA_URL }}images/grenade.png" alt="grenade" title="There is grenade launcher">{% endif %}
				{% if not map.has_unhookables %}<img src="{{ MEDIA_URL }}images/unhookable.png" alt="unhookable" title="There are unhookable tiles">{% endif %}
				{% if not map.has_deathtiles %}<img src="{{ MEDIA_URL }}images/deathtiles.png" alt="deathtiles" title="There are death tiles">{% endif %}
			</div>

			<div class="header">
				<a href="{{ map.get_absolute_url }}">{{ map.name }}</a>
			</div>
			<table>
				<tr>
					<th>Completions:</th>
					<th>Average score:</th>
					<th>Best score:</th>
				</tr>
				<tr>
					<td>{{ map.run_count }}</td>
					<td>{{ map.average_score|floatformat:settings.RESULT_PRECISION|default:"-" }}</td>
					<td>{% if map.best_score %}{{ map.best_score.time }} by <a href="{{ map.best_score.user.get_absolute_url }}">{{ map.best_score.user }}</a>{% else %}-{% endif %}</td>
				</tr>
			</table>
		</div>
		{% endfor %}
		{% if is_paginated %}
			<div class="pagination">
				<span class="step-links">
					{% if page_obj.has_previous %}
					<a href="?page={{ page_obj.previous_page_number }}">previous</a>
					{% endif %}

					<span class="current">
						Page {{ page_obj.number }} of {{ paginator.num_pages }}.
					</span>

					{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}">next</a>
					{% endif %}
				</span>
			</div>
		{% endif %}
{% endblock content %}
