{% extends "race/map_base.html" %}{% load race_diff %}
{% comment %}
context variables:
	map
{% endcomment %}
{% block title %}{{ map.name }} - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
	{{ block.super }}
	{% load breadcrumb_tags %}
	{% add_crumb map.name 'map_detail' map.id %}
{% endblock %}
{% block content %}
	<div class="box full">
		<div class="header"><a href="{{ map.get_absolute_url }}">{{ map.name }}</a></div>
		<div class="left map-detail">
			<table>
				<tr>
					<td class="label">Author</td>
					<td class="content">{{ map.created_by }}</td>
				</tr>
				<tr>
					<td class="label">Added</td>
					<td class="content">{{ map.created_at }}</td>
				</tr>
			{% if map.best_score %}
				<tr>
					<td class="label">Best result</td>
					<td class="content">{{ map.best_score.time }} by {{ map.best_score.user }}{% if map.best_score.nickname %} ({{ map.best_score.nickname }}){% endif %}</td>
				</tr>
			{% endif %}
				<tr>
					<td class="label">Average time</td>
					<td class="content">{% if map.average_score %}{{ map.average_score|floatformat:2 }}{% else %}-{% endif %}</td>
				</tr>
				<tr>
					<td class="label">Map completions</td>
					<td class="content">{{ map.run_count }}</td>
				</tr>
<!--
				<tr>
					<td class="label"></td>
					<td class="content"></td>
				</tr>
-->
			</table>
			<br>
			<a class="button" href="{{ map.map_file.url }}">Download map</a>&nbsp;({{ map.map_file.size|filesizeformat }})
		</div>

		<div class="right map-detail">
			<img src="/media/images/error.png" alt="image" width="400" height="200" title="">
		</div>
	</div>
	<div class="box full">
		<div class="header">Top 5</div>
		<table class="players">
			<tr>
				<th>#</th>
				<th>Player</th>
				<th>Points</th>
				<th>Date</th>
				<th>Time</th>
				<th>Diff</th>
			</tr>
			{% for run in best_runs %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>{{ run.user }}</td>
				<td></td>
				<td>{{ run.created_at|timesince }} ago</td>
				<td>{{ run.time|floatformat:2 }}</td>
				<td>{% race_diff run run.map.best_score "-" %}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="4">Hey! Nobody finished this map yet!</td>
			</tr>
			{% endfor %}
		<tfoot>
			<tr>
				<td colspan="6"><a href="">See whole rank &raquo;</a></td>
			</tr>
		</tfoot>
		</table>
	</div>
	{% if latest_runs %}
	<div class="box full">
		<div class="header">Recent map completions</div>
		<table class="players">
			<tr>
				<th>Player</th>
				<th>Date</th>
				<th>Time</th>
				<th>Diff (PB)</th>
				<th></th>
			</tr>
			{% for run in latest_runs %}
			<tr>
				<td>{{ run.user }}</td>
				<td>{{ run.created_at|timesince }} ago</td>
				<td>{{ run.time|floatformat:2 }}</td>
				<td>{% diff_color run.diff_from_personal_best %}</td>
				<td>{% if run.is_personal_best %}PB!{% endif %}{% if run.was_personal_best %}old PB{% endif %}{% if run.is_record %}WR!{% endif %}{% if run.was_record %}was WR{% endif %}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	{% endif %}
	{% if user.is_authenticated %}
	<div class="box full">
		<div class="header">Your results</div>
		<table class="players">
			<tr>
				<th>Date</th>
				<th>Time</th>
				<th>Diff (PB)</th>
				<th></th>
			</tr>
			{% for run in user_runs %}
			<tr>
				<td>{{ run.created_at|timesince }} ago</td>
				<td>{{ run.time|floatformat:2 }}</td>
				<td>{% diff_color run.diff_from_personal_best %}</td>
				<td>{% if run.is_personal_best %}PB!{% endif %}{% if run.was_personal_best %}old PB{% endif %}{% if run.is_record %}WR!{% endif %}{% if run.was_record %}was WR{% endif %}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="4">Hey! You haven't finished this map yet!</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	{% endif %}
{% endblock %}
