{% extends "base.html" %}{% load human_duration %}
{% comment %}
context variables:
	object_list (it's made of UserProfile objects, be aware!)
	is_paginated
	paginator
	page_obj
	total_playtime
	total_runs
{% endcomment %}
{% block title %}rank - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
	{{ block.super }}
	{% load breadcrumb_tags %}
	{% add_crumb 'Ranks' 'ranks' %}
{% endblock %}
{% block content %}
	<div class="box full">
		<div class="header">Rank</div>
		{% if is_paginated %}
			<div class="pagination">
				<span class="step-links">
					{% if page_obj.has_previous %}
					<a href="?page={{ page_obj.previous_page_number }}">previous</a>
					{% endif %}

					<span class="current">
						Page {{ page_obj.number }} of {{ paginator.num_pages }}.
					</span>

					{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}">next</a>
					{% endif %}
				</span>
			</div>
		{% endif %}
		<table class="players">
			<tr>
				<th>Rank</th>
				<th>Name</th>
				<th>Points</th>
				<th>Completions</th>
				<th>Total playtime</th>
			</tr>
			{% for profile in object_list %}
			<tr>
				<td>{#{{ page_obj.number|default:1|FIXME }}#}</td>
				<td><a href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a></td>
				<td>{{ profile.points }}</td>
				<td>{{ profile.completions }}</td>
				<td>{{ profile.playtime|default_if_none:0|sectodur }}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="6">No ranked players.</td>
			</tr>
			{% endfor %}
		{% if object_list %}
		<tfoot>
			<tr>
				<td colspan="6">{{ object_list.count }} ranked player{{ object_list.count|pluralize }}</td>
			</tr>
		</tfoot>
		{% endif %}
		</table>
		{% if is_paginated %}
			<div class="pagination">
				<span class="step-links">
					{% if page_obj.has_previous %}
					<a href="?page={{ page_obj.previous_page_number }}">previous</a>
					{% endif %}

					<span class="current">
						Page {{ page_obj.number }} of {{ paginator.num_pages }}.
					</span>

					{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}">next</a>
					{% endif %}
				</span>
			</div>
		{% endif %}
	</div>
{% endblock content %}
