{% extends "race/ranks_base.html" %}{% load human_duration %}{% load humanize %}{% load pagination_tags %}
{% comment %}
context variables:
	object_list (it's made of UserProfile objects, be aware!)
	paginator
	total_playtime
	total_runs
{% endcomment %}
{% block content %}
	<div class="box full">
		<div class="header">Rank</div>
		{% autopaginate object_list %}
		{% paginate %}
		<table class="players">
			<tr>
				<th>Rank</th>
				<th>Name</th>
				<th>Points</th>
				<th>Completions</th>
				<th>Total playtime</th>
			</tr>
			{% for profile in object_list %}
			<tr>
				<td>{{ profile.position|ordinal }}</td>
				<td><a href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a></td>
				<td>{{ profile.points }}</td>
				<td>{{ profile.completions }}</td>
				<td>{{ profile.playtime|default_if_none:0|sectodur }}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="6">No ranked players.</td>
			</tr>
			{% endfor %}
		{% if object_list %}
		<tfoot>
			<tr>
				<td colspan="6">{{ object_list.count }} ranked player{{ object_list.count|pluralize }}</td>
			</tr>
		</tfoot>
		{% endif %}
		</table>
		{% paginate %}
	</div>
{% endblock content %}
