{% extends "race/ranks_base.html" %}{% load human_duration %}
{% comment %}
context variables:
	object_list
	is_paginated
	paginator
	page_obj
{% endcomment %}
{% block title %}map list - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
	{{ block.super }}
	{% load breadcrumb_tags %}
	{% add_crumb "Map list" 'ranks_map_list' %}
{% endblock %}
{% block content %}
	<div class="box full">
		<div class="header">Maps</div>
		{% if is_paginated %}
			<div class="pagination">
				<span class="step-links">
					{% if page_obj.has_previous %}
					<a href="?page={{ page_obj.previous_page_number }}">previous</a>
					{% endif %}

					<span class="current">
						Page {{ page_obj.number }} of {{ paginator.num_pages }}.
					</span>

					{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}">next</a>
					{% endif %}
				</span>
			</div>
		{% endif %}
		<table class="players">
			<tr>
				<th>Name</th>
				<th>Date added</th>
				<th>Completions</th>
				<th>Total playtime</th>
				<th>Avg time</th>
				<th>Record</th>
			</tr>
			{% for map in object_list %}
			<tr>
				<td><a href="{% url ranks_map_detail map.id %}">{{ map.name }}</a></td>
				<td>{{ map.created_at }}</td>
				<td>{{ map.run_count }}</td>
				<td>{{ map.total_playtime|default_if_none:0|sectodur }}</td>
				<td>{{ map.average_score|floatformat:2|default:"-" }}</td>
				<td>{% if map.best_score %}{{ map.best_score.time }} by <a href="{{ map.best_score.user.get_absolute_url }}">{{ map.best_score.user }}</a>{% else %}-{% endif %}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="6">No maps.</td>
			</tr>
			{% endfor %}
		{% if object_list %}
		<tfoot>
			<tr>
				<td colspan="6">{{ paginator.count }} map{{ paginator.count|pluralize }}</td>
			</tr>
		</tfoot>
		{% endif %}
		</table>
		{% if is_paginated %}
			<div class="pagination">
				<span class="step-links">
					{% if page_obj.has_previous %}
					<a href="?page={{ page_obj.previous_page_number }}">previous</a>
					{% endif %}

					<span class="current">
						Page {{ page_obj.number }} of {{ paginator.num_pages }}.
					</span>

					{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}">next</a>
					{% endif %}
				</span>
			</div>
		{% endif %}
	</div>
{% endblock content %}
