{% extends "race/ranks_base.html" %}{% load human_duration %}{% load race_diff %}{% load humanize %}
{% comment %}
context variables:
	map
	object_list (it's made of BestRun objects, be aware!)
	is_paginated
	paginator
	page_obj
{% endcomment %}
{% block title %}{{ map.name }} - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
	{{ block.super }}
	{% load breadcrumb_tags %}
	{% add_crumb "Map list" 'ranks_map_list' %}
	{% add_crumb map.name %}
{% endblock %}
{% block content %}
	<div class="box full">
		<div class="header"><a href="{{ map.get_absolute_url }}">{{ map.name }}</a></div>
		{% if is_paginated %}
			<div class="pagination">
				<span class="step-links">
					{% if page_obj.has_previous %}
					<a href="?page={{ page_obj.previous_page_number }}">previous</a>
					{% endif %}

					<span class="current">
						Page {{ page_obj.number }} of {{ paginator.num_pages }}.
					</span>

					{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}">next</a>
					{% endif %}
				</span>
			</div>
		{% endif %}
		<table class="players">
			<tr>
				<th>Rank</th>
				<th>Name</th>
				<th>Points</th>
				<th>Date</th>
				<th>Time</th>
				<th>Diff</th>
			</tr>
			{% for best_run in object_list %}
			<tr{% if user == best_run.user %} class="user_rank"{% endif %}>
				<td>{{ best_run.position|ordinal }}</td>
				<td><a href="{{ best_run.user.get_absolute_url }}">{{ best_run.user.username }}</a></td>
				<td>{{ best_run.points }}</td>
				<td><span title="{{ best_run.run.created_at }}">{{ best_run.run.created_at|timesince }} ago</span></td>
				<td>{{ best_run.run.time|floatformat:settings.RESULT_PRECISION }}</td>
				<td>{% race_diff best_run.run map.best_score "-" %}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="6">No ranked players.</td>
			</tr>
			{% endfor %}
		{% if object_list %}
		<tfoot>
			<tr>
				<td colspan="6">{{ paginator.count }} ranked player{{ paginator.count|pluralize }}</td>
			</tr>
		</tfoot>
		{% endif %}
		</table>
		{% if is_paginated %}
			<div class="pagination">
				<span class="step-links">
					{% if page_obj.has_previous %}
					<a href="?page={{ page_obj.previous_page_number }}">previous</a>
					{% endif %}

					<span class="current">
						Page {{ page_obj.number }} of {{ paginator.num_pages }}.
					</span>

					{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}">next</a>
					{% endif %}
				</span>
			</div>
		{% endif %}
	</div>
{% endblock content %}
