{% extends "base.html" %}{% load race_tags %}
{% comment %}
context variables:
	servers_online
	players_online_count
{% endcomment %}
{% block title %}servers - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
	{{ block.super }}
	{% load breadcrumb_tags %}
	{% add_crumb "Servers" 'servers' %}
{% endblock %}
{% block content %}
	<div class="box full">
		<div class="header">Servers</div>
		{% if servers_online %}
		{% for server in servers_online %}
			<div class="live">
				<h3 id="s-{{ server.id }}">{{ server.name }}</h3>
				<div class="address">{{ server.address }}{% if server.played_map %}{% if server.address %}, {% endif %}<a href="{{ server.played_map.get_absolute_url }}">{{ server.played_map.name }}</a> map{% endif %}</div>
				<div class="description">{{ server.description_html|safe }}</div>
				<ul>
				{% for player in server.players.all %}
					{% if player.is_online %}
						<li><span class="name"><a href="{% url profile player.id %}">{{ player.user.username }}</a></span>{% if server.played_map %}<span class="time">{{ player|map_time:server.played_map|race_time }}</span><span class="points">{{ player|map_points:server.played_map }}</span>{% endif %}</li>
					{% endif %}
				{% endfor %}
				{% for anonymous in server.anonymous_players %}
					<li><span class="name">{{ anonymous }}</span>{# FIXME #}</li>
				{% endfor %}
				</ul>
			</div>
		{% endfor %}
		<div class="header"></div>
		{% endif %}
		<div class="live-stats">
			<span>{{ servers_online|length }}</span> server{{ servers_online|length|pluralize }} online
		</div>
		<div class="live-stats">
			<span>{{ players_online_count }}</span> registered player{{ players_online_count|pluralize }} online
		</div>
	</div>
{% endblock content %}
