{% extends "base.html" %}{% load human_duration %}{% load humanize %}{% load pagination_tags %}
{% comment %}
context variables:
	object_list
	paginator
{% endcomment %}
{% block title %}my activity - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
	{{ block.super }}
	{% load breadcrumb_tags %}
	{% add_crumb "My activity" 'user_activity' %}
{% endblock %}
{% block submenu %}
	<ul class="left">
		<li><a href="{% url ranks %}">Global</a></li><li><a href="{% url ranks_map_list %}">Per-map</a></li><li><a href="{% url user_activity %}">My activity</a></li>
	</ul>
{% endblock submenu %}
{% block content %}
	<div class="box full">
		<div class="header">My activity</div>
		{% autopaginate object_list %}
		{% paginate %}
		<table class="players">
			<tr class="no-border">
				<th>Date</th>
				<th>Map</th>
				<th>Time</th>
			</tr>
			{% for run in object_list %}
			<tr>
				<td><span title="{{ run.created_at }}">{{ run.created_at|timesince }} ago</span></td>
				<td><a href="{% url ranks_map_detail run.map.id %}">{{ run.map.name }}</a></td>
				<td>{{ run.time|floatformat:settings.RESULT_PRECISION }}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="6">Hey! You haven't finished any run yet!</td>
			</tr>
			{% endfor %}
		{% if object_list %}
		<tfoot>
			<tr>
				<td colspan="6">{{ paginator.count }} run{{ paginator.count|pluralize }}</td>
			</tr>
		</tfoot>
		{% endif %}
		</table>
		{% paginate %}
	</div>
{% endblock content %}
