{% extends "base.html" %}{% load human_duration %}{% load race_diff %}{% load humanize %}
{% comment %}
context variables:
	object_list
	is_paginated
	paginator
	page_obj
{% endcomment %}
{% block title %}my activity - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
	{{ block.super }}
	{% load breadcrumb_tags %}
	{% add_crumb "My activity" 'user_activity' %}
{% endblock %}
{% block submenu %}
	<ul class="left">
		<li><a href="{% url ranks %}">Global</a></li><li><a href="{% url ranks_map_list %}">Per-map</a></li><li><a href="{% url user_activity %}">My activity</a></li>
	</ul>
{% endblock submenu %}
{% block content %}
	<div class="box full">
		<div class="header">My activity</div>
		{% if is_paginated %}
			<div class="pagination">
				<span class="step-links">
					{% if page_obj.has_previous %}
					<a href="?page={{ page_obj.previous_page_number }}">previous</a>
					{% endif %}

					<span class="current">
						Page {{ page_obj.number }} of {{ paginator.num_pages }}.
					</span>

					{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}">next</a>
					{% endif %}
				</span>
			</div>
		{% endif %}
		<table class="players">
			<tr class="no-border">
				<th rowspan="2">Date</th>
				<th rowspan="2">Map</th>
				<th rowspan="2">Time</th>
				<th class="center" colspan="2">Diff</th>
				<th rowspan="2"></th>
			</tr>
			<tr>
				<th class="center">PB</th>
				<th class="center">WR</th>
			</tr>
			{% for run in object_list %}
			<tr>
				<td><span title="{{ run.created_at }}">{{ run.created_at|timesince }} ago</span></td>
				<td>{{ run.map }}</td>
				<td>{{ run.time|floatformat:2 }}</td>
				<td class="center">{% diff_color run.diff_from_personal_best %}</td>
				<td class="center">{% race_diff run run.map.best_score %}</td>
				<td>{% if run.is_personal_best %}PB!{% endif %}{% if run.was_personal_best %}old PB{% endif %}{% if run.is_record %}WR!{% endif %}{% if run.was_record %}was WR{% endif %}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="6">Hey! You haven't finished any run yet!</td>
			</tr>
			{% endfor %}
		{% if object_list %}
		<tfoot>
			<tr>
				<td colspan="6">{{ paginator.count }} run{{ paginator.count|pluralize }}</td>
			</tr>
		</tfoot>
		{% endif %}
		</table>
		{% if is_paginated %}
			<div class="pagination">
				<span class="step-links">
					{% if page_obj.has_previous %}
					<a href="?page={{ page_obj.previous_page_number }}">previous</a>
					{% endif %}

					<span class="current">
						Page {{ page_obj.number }} of {{ paginator.num_pages }}.
					</span>

					{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}">next</a>
					{% endif %}
				</span>
			</div>
		{% endif %}
	</div>
{% endblock content %}
