body {
    background: #91c5ff url("../images/bg.png") repeat-x;
    font-family: "Droid Sans", "Helvetica", "Myriad", "Myriad Pro", "Tahoma", "Liberation Sans", "Bitstream Vera Sans", "Sans";
    font-size: 16px;
    margin: 0;
}

a {
    color: #970;
    text-decoration: none;
    /* fix links without href attr */
    cursor: pointer;
}

a:hover {
    color: #fa3;
    text-decoration: underline;
}

img {
    border: 0;
}

div[sprite] {
    display: inline-block;
}

div[sprite=logo] {
    background: url(../images/main-sprite.png) no-repeat;
    background-position: 0 0;
    width: 293px;
    height: 60px;
}

div[sprite=django] {
    background: url(../images/main-sprite.png) no-repeat;
    background-position: -49px -60px;
    width: 55px;
    height: 22px;
}

div[sprite=python] {
    background: url(../images/main-sprite.png) no-repeat;
    background-position: -141px -60px;
    width: 73px;
    height: 22px;
}

div[sprite=nginx] {
    background: url(../images/main-sprite.png) no-repeat;
    background-position: -146px -82px;
    width: 68px;
    height: 22px;
}

div[sprite=tinylogo] {
    background: url(../images/main-sprite.png) no-repeat;
    background-position: 0 -82px;
    width: 107px;
    height: 22px;
}

div[sprite=teesites] {
    background: url(../images/main-sprite.png) no-repeat;
    background-position: -34px -104px;
    width: 70px;
    height: 22px;
}

div[sprite=teeworlds] {
    background: url(../images/main-sprite.png) no-repeat;
    background-position: -117px -104px;
    width: 97px;
    height: 22px;
}

div[sprite=heart] {
    background: url(../images/tiles-sprite.png) no-repeat;
    background-position: 0 0;
    width: 17px;
    height: 16px;
}

div[sprite=shield] {
    background: url(../images/tiles-sprite.png) no-repeat;
    background-position: -17px 0;
    width: 13px;
    height: 16px;
}

div[sprite=grenade] {
    background: url(../images/tiles-sprite.png) no-repeat;
    background-position: -30px 0;
    width: 17px;
    height: 16px;
}

div[sprite=unhookable] {
    background: url(../images/tiles-sprite.png) no-repeat;
    background-position: -47px 0;
    width: 16px;
    height: 16px;
}

div[sprite=deathtiles] {
    background: url(../images/tiles-sprite.png) no-repeat;
    background-position: -63px 0;
    width: 16px;
    height: 16px;
}

div[sprite=demo] {
    background: url(../images/tiles-sprite.png) no-repeat;
    background-position: -79px 0;
    width: 16px;
    height: 16px;
}

div[sprite=ghost] {
    background: url(../images/tiles-sprite.png) no-repeat;
    background-position: -95px 0;
    width: 16px;
    height: 16px;
}


/* badges! */
div[sprite].icon {
    background: url(../images/teeraceicons.png) no-repeat;
    width: 32px;
    height: 32px;
}

div[sprite=globetrotter-0],
div[sprite=hailtotheking-0],
div[sprite=minion-0],
div[sprite=labrat-0] { background-position: -127px 0 !important; }

div[sprite=runtime-0] { background-position: -63px 0 !important; }
div[sprite=runtime-1] { background-position: -32px 0 !important; }
div[sprite=runtime-2] { background-position: 0 0 !important; }

div[sprite=runcount-0],
div[sprite=runcount-1] { background-position: -316px 0 !important; }

div[sprite=runcount-2] { background-position: -285px 0 !important; }

div[sprite=runcount-3] { background-position: -253px 0 !important; }

div[sprite=runscore-0],
div[sprite=runscore-1],
div[sprite=runscore-2] { background-position: -221px 0 !important; }

div[sprite=runscore-3] { background-position: -189px 0 !important; }

div[sprite=runscore-4] { background-position: -158px 0 !important; }

input:not(#recaptcha_response_field),
.button {
    color: #4c4b33;
    background-color: #918f61;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e5be), to(#918f61));
    background-image: -moz-linear-gradient(top,  #e7e5be,  #918f61);
    background-image: -o-linear-gradient(top,  #e7e5be,  #918f61);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#e7e5be',EndColorStr='#918f61');
    border: thin solid #918f61;
    text-shadow: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    box-shadow: inset 0 0 1px #fff;
    -o-box-shadow: inset 0 0 1px #fff;
    -moz-box-shadow: inset 0 0 1px #fff;
    -webkit-box-shadow: inset 0 0 2px #fff;
    padding: 5px;
}

input:not(#recaptcha_response_field):hover,
input:not(#recaptcha_response_field):focus,
.button:hover,
.button:focus {
    color: #e7e5be !important;
    background-color: #4c4b33;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#918f61), to(#4c4b33));
    background-image: -moz-linear-gradient(top,  #918f61,  #4c4b33);
    background-image: -o-linear-gradient(top,  #918f61,  #4c4b33);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#918f61',EndColorStr='#4c4b33');
    border-color: #4c4b33;
    outline-style: none;
}

input:not(#recaptcha_response_field):active,
.button:active {
    color: #e7e5be !important;
    background: #4c4b33;
    border-color: #000;
}

textarea {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

    table .content {
        font-weight: bold;
        vertical-align: middle;
    }

        table .content .info {
            font-size: 11px;
            font-weight: normal;
        }

        table .content img {
        }

        table .content div {
            display: inline-block;
            vertical-align: top;
            height: 16px;
            margin: 0 6px 0 3px;
        }

tr {
    border-bottom: thin solid #e7e5be;
}

tr.no-border {
    border: none;
}

tr.me {
    background-color: #efffd6;
}

    tr.me td a {
        font-weight: bold;
    }

th {
    text-align: left;
}

th.center, td.center {
    text-align: center;
    float: none;
}

td {
    padding: 5px 0;
}

td.icons {
    width: 40px;
}

    td img:not([src*=flag]) {
        margin: -3px 5px -6px 3px;
    }

    td.own .user {
        font-weight: bold;
    }

td:first-child {
    padding-left: 3px;
}

td.right-align, th.right-align {
    text-align: right;
    padding-right: 20px;
}

/* fix the widths */
#userlist th:nth-child(1) { width: 60%; }
#userlist th:nth-child(3) { width: 10%; }

#ranks td:nth-child(1) { width: 10%; }
#ranks th:nth-child(2) { width: 40%; }
#ranks th:nth-child(3) { width: 10%; }
#ranks th:nth-child(4) { width: 15%; }

#per-map th:nth-child(1) { width: 20%; }
#per-map th:nth-child(3) { width: 15%; }
#per-map th:nth-child(4) { width: 17%; }
#per-map th:nth-child(5) { width: 13%; }
#per-map th:nth-child(6) { width: 20%; }

#profile-best th:nth-child(1) { width: 25%; }
#profile-best th:nth-child(2) { width: 20%; }
#profile-best th:nth-child(3) { width: 6%; }
#profile-best th:nth-child(4) { width: 25%; }
#profile-best th:nth-child(5) { width: 15%; }

#header {}

#page {
    padding: 0 5px;
    overflow: hidden;
}

#header, #page {
    margin: 0 auto;
    width: 900px;
}

input, td img:not([id^=recaptcha]):not([class^=recaptcha]), #menu, #comments .comment, #tooltip, .box, .button, .badge,
.api_token, .gravatar, .clippy:hover:after {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#menu {
    background-color: #918f61;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#918f61), to(#4c4b33));
    background-image: -moz-linear-gradient(top,  #918f61,  #4c4b33);
    background-image: -o-linear-gradient(top,  #918f61,  #4c4b33);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#918f61',EndColorStr='#4c4b33');
    border: thin solid #918f61;
    -moz-box-shadow: inset 0 0 1px #fff, 0 0 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 2px #fff, 0 0 3px rgba(0,0,0,0.2);
    font-size: 13px;
}

    #menu a {
        color: #e7e6d0;
        font-weight: bold;
    }

    #menu ul {
        margin: 0;
        padding: 0 20px;
    }

    #menu li {
        display: inline-block;
        border-right: thin solid #918f61;
        padding: 10px;
        text-shadow: 0 1px 0 rgba(0,0,0,0.5);
        -moz-text-shadow: 0 1px 0 rgba(0,0,0,0.5);
        -webkit-text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    }

    #menu li#current {
        background-color: #c6de92;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#9dc547), to(#c6de92));
        background-image: -moz-linear-gradient(top,  #9dc547,  #c6de92);
        background-image: -o-linear-gradient(top,  #9dc547,  #c6de92);
        filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#9dc547',EndColorStr='#c6de92');
        text-shadow: 0 1px 0 rgba(255,255,255,0.5);
        -moz-text-shadow: 0 1px 0 rgba(255,255,255,0.5);
        -webkit-text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    }

        #menu li#current a {
            color: #4c4b33;
        }

    #menu li:first-child {
        border-left: thin solid #918f61;
    }

    #menu li.glow {
        background: #916a61;
    }

    #menu li.glow,
    #menu li#current {
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
        -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
        -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
    }

#submenu {
    background-color: #c6de92;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c6de92), to(#9dc547));
    background-image: -moz-linear-gradient(top,  #c6de92,  #9dc547);
    background-image: -o-linear-gradient(top,  #c6de92,  #9dc547);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#c6de92',EndColorStr='#9dc547');
    font-size: 11px;
    /* we don't want box-shadow on the top */
    box-shadow: inset 0 -1px 0 rgba(255,255,255,0.3),
                        inset -1px 0 0 rgba(255,255,255,0.4),
                        inset 1px 0 0 rgba(255,255,255,0.4);
    -o-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.3),
                        inset -1px 0 0 rgba(255,255,255,0.4),
                        inset 1px 0 0 rgba(255,255,255,0.4);
    -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.3),
                        inset -1px 0 0 rgba(255,255,255,0.4),
                        inset 1px 0 0 rgba(255,255,255,0.4);
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.3),
                        inset -1px 0 0 rgba(255,255,255,0.4),
                        inset 1px 0 0 rgba(255,255,255,0.4);
}

    #submenu a {
        color: #4c4b33;
        font-weight: normal;
    }

    #submenu li, #submenu div {
        border-color: #9dc547;
        padding: 10px;
        text-shadow: 0 1px 0 rgba(255,255,255,0.5);
        -moz-text-shadow: 0 1px 0 rgba(255,255,255,0.5);
        -webkit-text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    }

    #submenu li:first-child {
        border-color: #9dc547;
    }

#user-box {}

    #user-box img {
        vertical-align: bottom;
        margin: -5px 3px;
        border: thin solid #918f61;
    }

    #user-box .button {
        display: inline-block;
        margin: -6px 0 -6px 3px;
    }

    #user-box .user-name {
        font-weight: bold;
        text-shadow: 0 1px 0 rgba(255,255,255,0.5);
        -moz-text-shadow: 0 1px 0 rgba(255,255,255,0.5);
        -webkit-text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    }

#content {
    clear: both;
}

#breadcrumbs {
    font-size: 11px;
    margin: 10px 20px 5px;
}

    #breadcrumbs a {
        color: #4c4b33;
        border-bottom: thin dashed;
        font-weight: bold;
    }

    #breadcrumbs a:hover {
        color: #c54747;
        text-decoration: none;
        border-bottom: thin solid;
    }

#messages {}

    #messages div {
        padding: 10px 20px;
        box-shadow: inset 0 0 1px #fff, 0 0 3px rgba(0,0,0,0.2);
        -o-box-shadow: inset 0 0 1px #fff, 0 0 3px rgba(0,0,0,0.2);
        -moz-box-shadow: inset 0 0 1px #fff, 0 0 3px rgba(0,0,0,0.2);
        -webkit-box-shadow: inset 0 0 2px #fff, 0 0 3px rgba(0,0,0,0.2);
    }

    #messages div:before {
        font-size: 32px;
        line-height: 15px;
        text-align: center;
        float: left;
    }

    #messages p {
        color: #fff;
        margin: 0;
        padding-left: 40px;
    }

    #messages a {
        color: #eee;
    }

    #messages .error,
    #messages .info,
    #messages .success {
        text-shadow: 0 1px 0 rgba(0,0,0,0.5);
        -moz-text-shadow: 0 1px 0 rgba(0,0,0,0,0.5);
        -webkit-text-shadow: 0 1px 0 rgba(0,0,0,0,0.5);
    }

    #messages .warning,
    #messages .error:before,
    #messages .info:before,
    #messages .warning:before,
    #messages .success:before {
        text-shadow: 0 1px 0 rgba(255,255,255,0.5);
        -moz-text-shadow: 0 1px 0 rgba(255,255,255,0.5);
        -webkit-text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    }

    #messages .error {
        background-color: #f07c28;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#cf4800), to(#f07c28));
        background-image: -moz-linear-gradient(top,  #cf4800,  #f07c28);
        background-image: -o-linear-gradient(top,  #cf4800,  #f07c28);
        filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#cf4800',EndColorStr='#f07c28');
        border-color: #c54747;
    }

    #messages .error:before {
        color: #ab3b00;
        content: '✕';
        margin-left: 1px;
    }

    #messages .info {
        background-color: #5673aa;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#5673aa), to(#94baf0));
        background-image: -moz-linear-gradient(top,  #5673aa,  #94baf0);
        background-image: -o-linear-gradient(top,  #5673aa,  #94baf0);
        filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#5673aa',EndColorStr='#94baf0');
        border-color: #5673aa;
    }

    #messages .info:before {
        color: #435a85;
        content: 'ⓘ';
        margin-left: -2px;
    }

    #messages .warning {
        background-color: #f19b07;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f19b07), to(#fac844));
        background-image: -moz-linear-gradient(top,  #f19b07,  #fac844);
        background-image: -o-linear-gradient(top,  #f19b07,  #fac844);
        filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#f19b07',EndColorStr='#fac844');
        border-color: #f19b07;
    }

    #messages .warning:before {
        color: #b77b00;
        content: '⚠';
    }

        #messages .warning p { color: #000; }
        #messages .warning a { color: #333; }

    #messages .success {
        background-color: #7ca629;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#7ca629), to(#98c628));
        background-image: -moz-linear-gradient(top,  #7ca629,  #98c628);
        background-image: -o-linear-gradient(top,  #7ca629,  #98c628);
        filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#7ca629',EndColorStr='#98c628');
        border-color: #7ca629;
    }

    #messages .success:before {
        color: #5a781e;
        content: '✓';
        margin-left: 4px;
    }

#blog {}

    #blog p {
        line-height: 20px;
    }

    #blog .post:not(.home) {
        border-left: 4px double #eeebd6;
        padding: 5px 20px;
        margin: 0 0 20px 80px;
    }

        #blog .post .header {
            border-bottom: none;
            font-weight: bold;
            margin-bottom: 3px;
        }

        #blog .post .post-line {
            color: #918f61;
            font-size: 11px;
            font-style: italic;
        }

        #blog .post .comment-count {
            font-size: 11px;
            float: right;
        }

        #blog .post .poster {
            color: #918f61;
            font-size: 11px;
        }

            #blog .post:not(.micro) .poster a {
                font-weight: bold;
            }

        #blog .post .read-more {
            font-style: italic;
            font-size: 90%;
            text-decoration: underline;
        }

        #blog .post .gravatar {
            float: left;
            margin: 10px 0 10px -100px;
        }

    #blog .micro {
        margin-bottom: 10px;
    }

        #blog .micro .gravatar {
            margin: 10px 0 10px -80px;
        }

        #blog .micro .header {
            border-bottom: none;
            font-size: 13px;
        }

        #blog .micro .poster, #blog .micro .header, #blog .micro .content,
        #blog .micro .content *, #blog .micro .post-line {
            display: inline;
        }

#comments {
    padding-top: 30px;
}

    #comments .comment {
        border: thin solid;
        margin: 10px 0;
        padding: 0 15px;
        overflow: hidden;
        width: 500px;
    }

        #comments .comment .comment-reply {
            display: none;
        }

            #comments .comment .comment-reply h2 {
                border-top: thin solid #999;
                padding-top: 10px;
            }

        #comments .comment:target .comment-reply {
            display: block;
        }

        #comments .comment:hover .comment-permalink {
            visibility: visible;
        }

        #comments .comment.staff .comment-author:after {
            content: "(staff)";
            color: #999;
            margin-left: 5px;
        }

            #comments .comment.staff .comment-author a {
                color: #c54747;
            }

            #comments .comment.staff .comment-author a:hover {
                color: #d76d6d;
            }

    #comments .comment-line {
        margin-top: 15px;
        overflow: hidden;
    }

        #comments .comment-line img {
            float: left;
        }

        #comments .comment-line .comment-author-info {
            margin: 7px 0 0 65px;
        }

            #comments .comment-line .comment-author-info span {
                display: block;
            }

            #comments .comment-line .comment-author-info .comment-author {
                font-size: 14px;
            }

        #comments .comment-line .comment-date {
            color: #888;
            font-size: 11px;
        }

    #comments .comment-permalink {
        font-size: 50px;
        float: right;
        visibility: hidden;
    }

        #comments .comment-permalink a {
            color: #ddd;
        }

        #comments .comment-permalink a:hover {
            color: #aaa;
            text-decoration: none;
        }

        #comments .comment-permalink .delete-link,
        #comments .comment-permalink .reply-link {
            font-size: 16px;
            line-height: 50px;
            vertical-align: middle;
        }

        #comments .comment-permalink a.delete-link {
            color: #e99;
        }

        #comments .comment-permalink a.delete-link:hover {
            color: #b66;
        }

    #comments .comment-content {
        overflow: hidden;
        line-height: 20px;
    }

    #comments .odd {
        background-color: #fbfbfb;
/*
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#e7e7e7));
        background-image: -moz-linear-gradient(top,  #fbfbfb,  #e7e7e7);
        background-image: -o-linear-gradient(top,  #fbfbfb,  #e7e7e7);
        filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#fbfbfb',EndColorStr='#e7e7e7');
*/
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fbfbfb));
        background-image: -moz-linear-gradient(top,  #fff,  #fbfbfb);
        background-image: -o-linear-gradient(top,  #fff,  #fbfbfb);
        filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#fff',EndColorStr='#fbfbfb');
        border-color: #eee;
    }

    #comments .even {
        background-color: #f6f6eb;
/*
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6eb), to(#e7e5be));
        background-image: -moz-linear-gradient(top,  #f6f6eb,  #e7e5be);
        background-image: -o-linear-gradient(top,  #f6f6eb,  #e7e5be);
        filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#f6f6eb',EndColorStr='#e7e5be');
*/
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f6f6eb));
        background-image: -moz-linear-gradient(top,  #fff,  #f6f6eb);
        background-image: -o-linear-gradient(top,  #fff,  #f6f6eb);
        filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#fff',EndColorStr='#f6f6eb');
        border-color: #f0efda;
    }

/*
    #comments .odd.staff {
        background: #f5f5bf;
    }

    #comments .even.staff {
        background: #f6f6a5;
    }
*/

    /* comments depth */

    /* ok, this one sets max depth margin */
    #comments [class*="depth"] {
        margin-left: 150px;
    }

        /* holy crap */
        #comments .comment:not(.depth-1):not(.depth-2):not(.depth-3):not(.depth-4):not(.depth-5):not(.close) .reply-link,
        #comments .comment:not(.depth-1):not(.depth-2):not(.depth-3):not(.depth-4):not(.depth-5):not(.close) .comment-reply {
            display: none;
        }


    /* overriding default margin */
    #comments .depth-1 {
        margin-left: 0px;
    }

    #comments .depth-2 {
        margin-left: 30px;
    }

    #comments .depth-3 {
        margin-left: 60px;
    }

    #comments .depth-4 {
        margin-left: 90px;
    }

    #comments .depth-5 {
        margin-left: 120px;
    }

#footer {
    color: #b7b6a4;
    background-color: #918f61;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#918f61), to(#4c4b33));
    background-image: -moz-linear-gradient(top,  #918f61,  #4c4b33);
    background-image: -o-linear-gradient(top,  #918f61,  #4c4b33);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#918f61',EndColorStr='#4c4b33');
    border-color: #4c4b33;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 7px 15px 6px 20px;
    width: 863px;
    float:right;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    -moz-text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    -webkit-text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    box-shadow: inset 0 0 1px #fff, 0 0 3px rgba(0,0,0,0.2);
    -o-box-shadow: inset 0 0 1px #fff, 0 0 3px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 1px #fff, 0 0 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 2px #fff, 0 0 3px rgba(0,0,0,0.2);
}

    #footer a {
        color: #b7b6a4;
    }

    #footer a:hover {
        color: #fff;
        text-decoration: none;
    }

    #footer .left {
        line-height: 22px;
    }

#logos {
    text-align: center;
    margin-bottom: 20px;
    clear: both;
}

    #logos * {
        margin: 0 5px;
        display: inline-block;
    }

    #logos div[sprite] {
        vertical-align: middle;
        opacity: 0.5;
    }

    #logos div[sprite]:hover {
        opacity: 1;
    }

#userprofile {
    position: relative;
}

#userprofile.ownprofile {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#efffd6), to(#fff));
    background-image: -moz-linear-gradient(top,  #efffd6,  #fff);
    background-image: -o-linear-gradient(top,  #efffd6,  #fff);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#efffd6',EndColorStr='#fff');
    background-color: #efffd6;
}

    #userprofile .headrow {
        padding: 0 0 10px 20px;
        overflow: hidden;
    }

        #userprofile .headrow .gravatar {
            margin-right: 20px;
            float: left;
        }

            #userprofile .headrow .points h2 {
                font-size: 36px;
                line-height: 36px;
                margin: 5px 0 -5px;
            }

                #userprofile .headrow .points h2 span {
                    font-size: 50%;
                }

            #userprofile .headrow .points h3 {
                font-size: 12px;
                font-weight: normal;
                margin: 0;
            }

            #userprofile .headrow .points h3[helper^="+"] {
                color: #52ad50;
            }

            #userprofile .headrow .points h3[helper^="-"] {
                color: #ad5052;
            }

            #userprofile .headrow .points h3[helper="+0"] {
                color: #cc2;
            }

            #userprofile .headrow .points h3 span,
            #userprofile .headrow .points h2 span {
                color: #333;
            }

#docs {}

    #docs i, #docs b {
        color: #918f61;
    }

    #docs dt {
        color: #4c4b33;
        padding: 10px 0;
    }

    #docs cite, #docs blockquote {
        background: #eee2eb;
        font-family: monospace;
        font-style: normal;
        padding: 1px 3px;
    }

    #docs .header {
        color: #4c4b33;
        background-color: #9dc547;
        border-bottom: thin solid #918f61;
        padding: 10px;
    }

    #docs .allowed-methods {
        padding: 10px;
    }

    #docs .name {
        background: #c6de92;
        border-bottom: thin solid #9dc547;
        border-top: thin solid #9dc547;
        padding: 15px 10px;
        font-size: 110%;
        font-family: monospace;
        font-weight: bold;
        letter-spacing: 1px;
    }

    #docs .docutils dd {

    }

#api_token {
    font-size: 250%;
}

/* for flot */
#placeholder, [id^=placeholder] {
     width:858px;
     height:200px;
}

#tooltip {
    background-color: #c6de92;
    border: 1px solid #9dc547;
    font-size: 12px;
    padding: 2px;
    display: none;
    opacity: 0.80;
}

/* for recaptcha */
#recaptcha_widget_div {
    width: 318px !important;
    margin: -1px -75px auto auto;
    overflow: hidden;
}

div.live h3 {
    font-size: 16px;
    margin: 10px 0 0;
}

div.live ul {
    margin-top: 10px;
    padding: 0;
}

div.live li {
    color: #9dc547;
    font-size: 15px;
    line-height: 13px;
    border-bottom: thin dotted;
    margin: 0 0 0 20px;
    padding: 3px;
    width: 330px;
    display: inline-block;
}

    div.live li span.name {
        color: #000;
        font-size: 13px;
        width: 230px;
        display: inline-block;
        overflow: hidden;
    }

    div.live li span.time {
        color: #666;
        font-size: 13px;
        margin: 0 10px;
    }

    div.live .address {
        color: #918f61;
        font-size: 11px;
        font-style: italic;
    }

div.live-stats {
    font-size: 16px;
    margin: 10px 0 10px 20px;
}

    div.live-stats span {
        font-weight: bold;
    }

ul.actstream {
    list-style-type: none;
    padding: 0;
}

    ul.actstream li {
        margin: 5px 0;
    }

    ul.actstream .actor {
        font-weight: bold;
    }

        /* TODO: add styling for .me */
        ul.actstream .actor.me {}

    ul.actstream .timestamp {
        color: #666;
        font-size: 10px;
        display: block;
    }

.box {
    background: #fff;
    border: 1px solid #918f61;
    font-size: 13px;
    margin: 5px 0;
    padding: 20px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    -o-box-shadow: 0 0 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.box.award {
    text-align: center;
}

    .box .header {
        color: #9dc547;
        font-size: 20px;
        border-bottom: thin solid;
        margin-bottom: 10px;
    }

    .box .header a {
        color: inherit;
    }

    .box .header span.offline,
    .box .header span.online {
        font-size: 12px;
        margin-top: 8px;
        float: right;
    }

    .box .header span.offline { color: #c54747; }
    .box .header span.online  { color: #627a2c; }

.api_token {
    color: #fff;
    background: #333;
    border: thin solid #000;
    font-family: monospace;
    text-align: center;
    padding: 20px;
    text-shadow: 1px 2px 0 #000;
    -moz-text-shadow: 1px 2px 0 #000;
    -webkit-text-shadow: 1px 2px 0 #000;
    box-shadow: inset 0 0 1px #fff;
    -o-box-shadow: inset 0 0 1px #fff;
    -moz-box-shadow: inset 0 0 1px #fff;
    -webkit-box-shadow: inset 0 0 2px #fff;
}

.clippy {
    margin: 2px;
    float: right;
}

.clippy:hover {
    position: relative;
}

.clippy:hover:after {
    color: #fff;
    background: #333;
    font-size: 10px;
    text-align: center;
    width: 80px;
    padding: 3px 5px;
    margin-right: -25px;
    display: block;
    content: 'Copy to clipboard';
    position: absolute;
    right: 50%;
}

.badge {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fffdd6), to(#ebd8b2));
    background-image: -moz-linear-gradient(top,  #fffdd6,  #ebd8b2);
    background-image: -o-linear-gradient(top,  #fffdd6,  #ebd8b2);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#fffdd6',EndColorStr='#ebd8b2');
    background-color: #fffdd6;
    border: 1px solid #918f61;
    width: 199px;
    padding: 20px;
    margin: 5px;
    float: left;
    position: relative;
    text-shadow: 0 1px 0 #fff;
    -moz-text-shadow: 0 1px 0 #fff;
    -webkit-text-shadow: 0 1px 0 #fff;
}

    .badge b {
        font-size: 16px;
        margin-bottom: 10px;
        display: block;
        position: relative;
        z-index: 1;
    }

    .badge div[sprite] {
        width: 32px;
        height: 32px;
        display: block;
        position: absolute;
        top: 13px;
        right: 10px;
        z-index: 0;
    }

    .badge .date {
        font-size: 11px;
        font-style: italic;
        margin-top: -10px;
        margin-bottom: 10px;
        position: relative;
        z-index: 1;
    }

.award {
    font-size: 11px;
    position: relative;
    width: 260px;
    height: 50px;
    margin: 20px 12px;
    float: left;
}

.award:first-child, .award:nth-child(2), .award:nth-child(3) {
    margin-top: 0;
}

    .award .icon-outer {
        background-color: #b5b495;
        border: 3px solid #fff;
        box-shadow: 0 0 3px #000, inset 0 0 10px #6e6d4a;
        border-radius: 1000px;
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 5;
    }

    .award .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -16px;
    }

    .award .header {
        color: #333;
        font-size: 13px;
        font-weight: bold;
        line-height: 26px;
        background-color: #fff;
        box-shadow: 0 0 3px #000;
        border-radius: 1000px;
        width: 75%;
        margin: -11px 0 0 40px;
        padding-left: 30px;
        position: absolute;
        top: 50%;
        z-index: 4;
    }

    .award p {
        color: #444;
        background-color: #eee;
        border-bottom-right-radius: 5px;
        box-shadow: 0 0 3px #000;
        width: 180px;
        margin-left: 30px;
        padding: 3px 3px 1px 40px;
        position: absolute;
        top: 56%;
    }

    .award .stats {
        color: #444;
        font-size: 9px;
        background-color: #eee;
        border-top-right-radius: 5px;
        box-shadow: 0 0 3px #000;
        width: 180px;
        margin-left: 30px;
        padding: 2px 3px 2px 40px;
    }

.form_field {
    text-align: right;
    width: 500px;
    padding: 10px 0;
    clear: both;
    position: relative;
}

    .form_field input:not([id^=recaptcha]):not([class^=recaptcha]), .form_field select {
        width: 43%;
        margin-right: 10px;
    }

    .form_field input[type=submit]:not([id^=recaptcha]):not([class^=recaptcha]) {
        width: 100%;
    }

    .form_field label:not([id^=recaptcha]):not([class^=recaptcha]) {
        font-weight: bold;
        width: 45%;
        height: 28px;
        line-height: 28px;
        margin-right: 20px;
        display: block;
        float: left;
        cursor: pointer;
    }

    .form_field.required label:before {
        color: #f00;
        content: "*";
        margin-right: 3px;
    }

    .form_field span:not([id^=recaptcha]):not([class^=recaptcha]) {
        color: #666;
        font-size: 11px;
        font-weight: normal;
        margin-top: -14px;
        display: block;
    }

.form_field.error {
    color: #800;
    background: #f66;
    border-color: #d44;
    clear: both;
    padding-right: 90px;
}

.form_field.error:hover {
    color: #600;
    background: #e55;
    border-color: #d33;
}

    .form_field.error span {
        color: #a33;
    }

    .form_field.error .form-error {
        font-size: 85%;
        position: absolute;
        right: -170px;
        top: 20px;
        width: 150px;
    }

.non-field-error {
    color: #a33;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.box .pagination {
    color: #444;
}

.box .pagination:last-child {
    margin-top: 5px;
}

.pagination {
    text-align: center;
    font-size: 13px;
    clear: both;
}

    .pagination a {
        color: inherit;
    }

    .pagination .page {
        padding: 3px;
        display: inline-block;
    }

    .pagination .current {
        background: #e7e6d0;
        border-radius: 20px;
        line-height: 15px;
        vertical-align: top;
        min-width: 15px;
    }

    .pagination .next,
    .pagination .prev {
        font-size: 90%;
    }

    .pagination .disabled {
        color: #999;
    }

.hide {
    display: none;
}

.detail {
    width: 50%;
}

.more {
    font-size: 90%;
}

.map-file-size {
    color: #555;
    font-size: 11px;
    margin-left: 10px;
}

.no-map-image {
    color: #bbb;
    text-align: center;
    width: 370px;
}

.no-map-image:before {
    font-size: 144px;
    content: '?';
}

.map-video {
    width: 370px;
}

.box.left { margin-right: 10px; }
.box.right { margin-top: 5px; }
.box.right.top { margin-top: 5px; }

.box.left { width: 303px; }
.box.right { width: 503px; }

.box.map.left,
.box.map.right { width: 403px; }

.box.award.left,
.box.award.center,
.box.award.right { width: 251px; }

.box.full { width: 858px; float: right; }

.left { float: left; }
.center { float: left; }
.right { float: right; }
.full { overflow: hidden; clear: both; }

.center { text-align: center; }

.green { color: #9dc547; }
.brown { color: #918f61; }
.red { color: #f44; }
