{% extends "base.html" %}{% load markup %}
{% block title %}api docs - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
	{{ block.super }}
	{% load breadcrumb_tags %}
	{% add_crumb 'API documentation' 'api_docs' %}
{% endblock %}
{% block content %}
	<div class="box full">
		<h1>API Documentation</h1>
		
		{% for doc in docs %}
		
			<div class="header">{{ doc.name|cut:"Handler" }}</div>
			<p>
				{{ doc.get_doc|default:""|restructuredtext }}
			</p>
			
			<p>
				Accepted methods: {% for meth in doc.allowed_methods %}<b>{{ meth }}</b>{% if not forloop.last %}, {% endif %}{% endfor %}
			</p>
					
			<dl>
				{% for method in doc.get_all_methods %}
				
					<dt>
						method <i>{{ method.name }}</i>({{ method.signature }}){% if method.stale %} <i>- inherited</i>{% else %}:{% endif %}
						
					</dt>				
										
					{% if method.get_doc %}
						<dd>
							{{ method.get_doc|default:""|restructuredtext }}
						<dd>
					{% endif %}
				
				{% endfor %}
			</dl>
		
		{% endfor %}
	</div>
{% endblock content %}