body {
	background: #e2e0b8;
}

#e502 {
	width:600px;
	height:200px;

	margin:-100px -300px;

	position: absolute;
	top: 40%;
	left: 50%;
}

#e502 .content {
	background-color: #6f6d4a;
	background-image: -webkit-gradient(radial, 300 50%, 0, 300 50%, 250, from(#918f61), to(#6f6d4a));
	background-image: -moz-radial-gradient(#918f61, #6f6d4a);

	border-radius: 10px;

	padding: 20px;

	position: relative;

	overflow: hidden;
}

#e502 .content img {
	position: absolute;
	top: -45px;
	right: 0;
	z-index: 0;
}

#e502 h1,
#e502 h3 {
	margin: 0;
}

#e502 h3 {
	font-size: 12px;
	font-weight: normal;
}

#e502 h2 {
	margin: 20px 0;
}

#e502 h1,
#e502 h2,
#e502 h3 {
	color:#e2e0b8;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);

	position: relative;
	z-index: 1;
}