body {
	background: #91c5ff url("/media/images/bg.png") repeat-x;
	font-family: "Droid Sans", "Myriad", "Myriad Pro", "Tahoma", "Helvetica", "Liberation Sans", "Bitstream Vera Sans", "Sans";
	font-size: 16px;
	margin: 0;
}

a {
	color: #970;
	text-decoration: none;
}

a:hover {
	color: #fa3;
	text-decoration: underline;
}

input,
#user-box .button {
	color: #4c4b33;
	background-color: #918f61;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e5be), to(#918f61));
	background-image: -moz-linear-gradient(top,  #e7e5be,  #918f61);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#e7e5be',EndColorStr='#918f61');
	border: thin solid #918f61;
	padding: 5px;
}

input:hover,
#user-box .button:hover  {
	color: #e7e5be;
	background-color: #918f61;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#918f61), to(#4c4b33));
	background-image: -moz-linear-gradient(top,  #918f61,  #4c4b33);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#918f61',EndColorStr='#4c4b33');
	border: thin solid #4c4b33;
}

table.players {
	width: 100%;
	border-collapse: collapse;
}

	table.players tr {
		border-bottom: thin solid #e7e5be;
	}

	table.players th {
		text-align: left;
	}

	table.players td {
		padding: 5px 0;
	}

	table.players .content {
		font-weight: bold;
	}

		table.players .content .info {
			font-size: 11px;
			font-weight: normal;
		}

#header {

}

	#header a {
		color: #333;
		text-decoration: none;
	}

	#header h1 {
		font-size: 36px;
		line-height: 30px;
	}

#page {
}

#header, #page {
	margin: 0 auto;
	width: 800px;
	overflow: hidden;
}

#menu, .box,
#user-box .button,
input {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#menu {
	background-color: #918f61;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#918f61), to(#4c4b33));
	background-image: -moz-linear-gradient(top,  #918f61,  #4c4b33);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#918f61',EndColorStr='#4c4b33');
	border: thin solid #918f61;
	font-size: 12px;
}

	#menu a {
		color: #e7e6d0;
		font-weight: bold;
	}

	#menu ul {
		margin: 0;
		padding: 0 20px;
	}

	#menu li {
		display: inline-block;
		border-right: thin solid #918f61;
		padding: 10px;
	}

	#menu li#current {
		background-color: #c6de92;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#9dc547), to(#c6de92));
		background-image: -moz-linear-gradient(top,  #9dc547,  #c6de92);
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#9dc547',EndColorStr='#c6de92');
	}

		#menu li#current a {
			color: #4c4b33;
		}

	#menu li:first-child {
		border-left: thin solid #918f61;
	}

	#menu li.glow {
		background: #916a61;
	}

/* submenu */
#submenu {
	background-color: #c6de92;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c6de92), to(#9dc547));
	background-image: -moz-linear-gradient(top,  #c6de92,  #9dc547);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#c6de92',EndColorStr='#9dc547');
	font-size: 11px;
}

	#submenu a {
		color: #4c4b33;
		font-weight: normal;
	}

	#submenu li, #submenu div {
		border-color: #9dc547;
		padding: 10px;
	}

	#submenu li:first-child {
		border-color: #9dc547;
	}

#user-box {}

	#user-box .button {
		display: inline-block;
		margin: -6px 0 -6px 3px;
	}

#content {
	clear: both;
}

#breadcrumbs {
	font-size: 11px;
	margin: 10px 20px;
}

	#breadcrumbs a {
		color: #4c4b33;
		border-bottom: thin dashed;
		font-weight: bold;
	}

	#breadcrumbs a:hover {
		color: #c54747;
		text-decoration: none;
		border-bottom: thin solid;
	}

#messages {
}

	#messages div {
		padding: 10px 20px;
	}

	#messages p {
		color: #fff;
		margin: 0;
		padding-left: 40px;
	}

	#messages a {
		color: #eee;
	}

	#messages .error {
		background-color: #f07c28;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#cf4800), to(#f07c28));
		background-image: -moz-linear-gradient(top,  #cf4800,  #f07c28);
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#cf4800',EndColorStr='#f07c28');
		border-color: #c54747;
	}

		#messages .error p {
			background: url(/media/images/error.png) center left no-repeat;
		}

	#messages .info {
		background-color: #5673aa;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#5673aa), to(#94baf0));
		background-image: -moz-linear-gradient(top,  #5673aa,  #94baf0);
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#5673aa',EndColorStr='#94baf0');
		border-color: #5673aa;
	}

		#messages .info p {
			background: url(/media/images/info.png) center left no-repeat;
		}

	#messages .warning {
		background-color: #f19b07;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#f19b07), to(#fac844));
		background-image: -moz-linear-gradient(top,  #f19b07,  #fac844);
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#f19b07',EndColorStr='#fac844');
		border-color: #f19b07;
	}

		#messages .warning p {
			color: #000;
			background: url(/media/images/warning.png) center left no-repeat;
		}

		#messages .warning a {
			color: #333;
		}

	#messages .success {
		background-color: #7ca629;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#7ca629), to(#98c628));
		background-image: -moz-linear-gradient(top,  #7ca629,  #98c628);
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#7ca629',EndColorStr='#98c628');
		border-color: #7ca629;
	}

		#messages .success p {
			background: url(/media/images/tick.png) center left no-repeat;
		}

#blog {}

	#blog h2 {
		font-size: 18px;
		margin-bottom: 0;
	}

	#blog .post-line {
		color: #918f61;
		font-size: 10px;
		font-style: italic;
	}

	#blog .poster {
		font-weight: bold;
	}

	#blog .comments {
		font-size: 11px;
		margin-top: -10px;
		float: right;
	}

#footer {
	color: #e7e5be;
	background-color: #918f61;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#918f61), to(#4c4b33));
	background-image: -moz-linear-gradient(top,  #918f61,  #4c4b33);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#918f61',EndColorStr='#4c4b33');
	border-color: #4c4b33;
	margin-bottom: 20px;
	padding: 10px 20px;
	float:right;
}

	#footer img {
		vertical-align: middle;
		float: right;
	}

	#footer a {
		color: #e7e5be;
		line-height: 22px;
	}

.box {
	background: #fff;
	border: 1px solid #918f61;
	font-size: 13px;
	margin: 5px 0;
	padding: 20px;
}

	.box .header {
		color: #9dc547;
		font-size: 20px;
		border-bottom: thin solid;
		margin-bottom: 10px;
	}

.form_field {
	text-align: right;
	width: 400px;
	padding: 20px 0 0 0;
}

	.form_field input {
		width: 50%;
		margin-right: 10px;
	}

	.form_field input[type=submit] {
		width: 100%;
	}

	.form_field label {
		font-weight: bold;
		margin-right: 20px;
	}

	.form_field.required label:before {
		color: #f00;
		content: "*";
		margin-right: 3px;
	}

.form_field.error {
	color: #800;
	background: #f66;
	border-color: #d44;
}

.form_field.error:hover {
	color: #600;
	background: #e55;
	border-color: #d33;
}

	.form_field.error span {
		color: #a33;
	}

	.form_field.error .form-error {
		text-align: center;
		font-style: oblique;
	}

.box.left { margin-right: 10px; }
.box.right { margin-top: 5px; }
.box.right.top { margin-top: 5px; }
.box.left, .box.right { width: 353px; }
.box.full { width: 758px; float: right; }

.left { float: left; }
.right { float: right; }
.full { overflow: hidden; clear: both; }

.center { text-align: center; }

.green { color: #9dc547; }
.brown { color: #918f61; }
.red { color: #f44; }
