body {
	background: #91c5ff url("/media/images/bg.png") repeat-x;
	font-family: "Droid Sans", "Helvetica", "Myriad", "Myriad Pro", "Tahoma", "Liberation Sans", "Bitstream Vera Sans", "Sans";
	font-size: 16px;
	margin: 0;
}

a {
	color: #970;
	text-decoration: none;
}

a:hover {
	color: #fa3;
	text-decoration: underline;
}

img {
	border: 0;
}

input,
.button {
	color: #4c4b33;
	background-color: #918f61;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e5be), to(#918f61));
	background-image: -moz-linear-gradient(top,  #e7e5be,  #918f61);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#e7e5be',EndColorStr='#918f61');
	border: thin solid #918f61;
	padding: 5px;
}

input:hover,
.button:hover {
	color: #e7e5be !important;
	background-color: #4c4b33;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#918f61), to(#4c4b33));
	background-image: -moz-linear-gradient(top,  #918f61,  #4c4b33);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#918f61',EndColorStr='#4c4b33');
	border: thin solid #4c4b33;
}

textarea {
	width: 100%;
}

table {
	width: 100%;
	border-collapse: collapse;
}

	table .content {
		font-weight: bold;
		vertical-align: middle;
	}

		table .content .info {
			font-size: 11px;
			font-weight: normal;
		}

		table .content img {
		}

		table .content div {
			display: inline-block;
			vertical-align: top;
			height: 16px;
			margin: 0 6px 0 3px;
		}

tr {
	border-bottom: thin solid #e7e5be;
}

tr.no-border {
	border: none;
}

th {
	text-align: left;
}

th.center {
	text-align: center;
}

td {
	padding: 5px 0;
}

#header {}

#page {}

#header, #page {
	margin: 0 auto;
	width: 800px;
	overflow: hidden;
}

#menu, .box,
.button, input,
#comments .comment,
.badge {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#menu {
	background-color: #918f61;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#918f61), to(#4c4b33));
	background-image: -moz-linear-gradient(top,  #918f61,  #4c4b33);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#918f61',EndColorStr='#4c4b33');
	border: thin solid #918f61;
	font-size: 13px;
}

	#menu a {
		color: #e7e6d0;
		font-weight: bold;
	}

	#menu ul {
		margin: 0;
		padding: 0 20px;
	}

	#menu li {
		display: inline-block;
		border-right: thin solid #918f61;
		padding: 10px;
	}

	#menu li#current {
		background-color: #c6de92;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#9dc547), to(#c6de92));
		background-image: -moz-linear-gradient(top,  #9dc547,  #c6de92);
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#9dc547',EndColorStr='#c6de92');
	}

		#menu li#current a {
			color: #4c4b33;
		}

	#menu li:first-child {
		border-left: thin solid #918f61;
	}

	#menu li.glow {
		background: #916a61;
	}

/* submenu */
#submenu {
	background-color: #c6de92;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c6de92), to(#9dc547));
	background-image: -moz-linear-gradient(top,  #c6de92,  #9dc547);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#c6de92',EndColorStr='#9dc547');
	font-size: 11px;
}

	#submenu a {
		color: #4c4b33;
		font-weight: normal;
	}

	#submenu li, #submenu div {
		border-color: #9dc547;
		padding: 10px;
	}

	#submenu li:first-child {
		border-color: #9dc547;
	}

#user-box {}

	#user-box img {
		vertical-align: bottom;
		margin: -3px 3px;
		border: thin solid #918f61;
	}

	#user-box .button {
		display: inline-block;
		margin: -6px 0 -6px 3px;
	}

	#user-box .user-name {
		font-weight: bold;
	}

#content {
	clear: both;
}

#breadcrumbs {
	font-size: 11px;
	margin: 10px 20px;
}

	#breadcrumbs a {
		color: #4c4b33;
		border-bottom: thin dashed;
		font-weight: bold;
	}

	#breadcrumbs a:hover {
		color: #c54747;
		text-decoration: none;
		border-bottom: thin solid;
	}

#messages {}

	#messages div {
		padding: 10px 20px;
	}

	#messages div:before {
		font-size: 32px;
		line-height: 15px;
		text-align: center;
		float: left;
	}

	#messages p {
		color: #fff;
		margin: 0;
		padding-left: 40px;
	}

	#messages a {
		color: #eee;
	}

	#messages .error {
		background-color: #f07c28;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#cf4800), to(#f07c28));
		background-image: -moz-linear-gradient(top,  #cf4800,  #f07c28);
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#cf4800',EndColorStr='#f07c28');
		border-color: #c54747;
	}

	#messages .error:before {
		color: #ab3b00;
		content: '✕';
		text-shadow: 1px 1px 1px #f09859;
		-moz-text-shadow: 1px 1px 1px #f09859;
		-webkit-text-shadow: 1px 1px 1px #f09859;
		margin-left: 1px;
	}

	#messages .info {
		background-color: #5673aa;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#5673aa), to(#94baf0));
		background-image: -moz-linear-gradient(top,  #5673aa,  #94baf0);
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#5673aa',EndColorStr='#94baf0');
		border-color: #5673aa;
	}

	#messages .info:before {
		color: #435a85;
		content: 'ⓘ';
		text-shadow: 1px 1px 1px #c0d4f0;
		-moz-text-shadow: 1px 1px 1px #c0d4f0;
		-webkit-text-shadow: 1px 1px 1px #c0d4f0;
		margin-left: -2px;
	}

	#messages .warning {
		background-color: #f19b07;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#f19b07), to(#fac844));
		background-image: -moz-linear-gradient(top,  #f19b07,  #fac844);
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#f19b07',EndColorStr='#fac844');
		border-color: #f19b07;
	}

	#messages .warning:before {
		color: #b77b00;
		content: '⚠';
		text-shadow: 1px 1px 1px #ffefc4;
		-moz-text-shadow: 1px 1px 1px #ffefc4;
		-webkit-text-shadow: 1px 1px 1px #ffefc4;
	}

		#messages .warning p { color: #000; }
		#messages .warning a { color: #333; }

	#messages .success {
		background-color: #7ca629;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#7ca629), to(#98c628));
		background-image: -moz-linear-gradient(top,  #7ca629,  #98c628);
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#7ca629',EndColorStr='#98c628');
		border-color: #7ca629;
	}

	#messages .success:before {
		color: #5a781e;
		content: '✓';
		text-shadow: 1px 1px 1px #a8db2c;
		-moz-text-shadow: 1px 1px 1px #a8db2c;
		-webkit-text-shadow: 1px 1px 1px #a8db2c;
		margin-left: 4px;
	}

#blog {}

	#blog h2 {
		font-size: 18px;
		margin-bottom: 0;
	}

	#blog .post-line {
		color: #918f61;
		font-size: 11px;
		font-style: italic;
	}

	#blog .poster {
		font-weight: bold;
	}

	#blog .comment-count {
		font-size: 11px;
		margin-top: -10px;
		float: right;
	}

#comments {
	padding-top: 30px;
}

	#comments .comment {
		border: thin solid;
		margin: 10px 0;
		padding: 0 15px;
		overflow: hidden;
		width: 500px;
	}

		#comments .comment .comment-reply {
			display: none;
		}

			#comments .comment .comment-reply h2 {
				border-top: thin solid #999;
				padding-top: 10px;
			}

		#comments .comment:target .comment-reply {
			display: block;
		}

		#comments .comment:hover .comment-permalink {
			visibility: visible;
		}

		#comments .comment.staff .comment-author:after {
			content: "(staff)";
			color: #999;
			margin-left: 5px;
		}

			#comments .comment.staff .comment-author a {
				color: #c54747;
			}

			#comments .comment.staff .comment-author a:hover {
				color: #d76d6d;
			}

	#comments .comment-line {
		margin-top: 15px;
		overflow: hidden;
	}

		#comments .comment-line img {
			float: left;
		}

		#comments .comment-line .comment-author-info {
			margin: 7px 0 0 65px;
		}

			#comments .comment-line .comment-author-info span {
				display: block;
			}

			#comments .comment-line .comment-author-info .comment-author {
				font-size: 14px;
			}

		#comments .comment-line .comment-date {
			color: #888;
			font-size: 11px;
		}

	#comments .comment-permalink {
		font-size: 50px;
		float: right;
		visibility: hidden;
	}

		#comments .comment-permalink a {
			color: #ddd;
		}

		#comments .comment-permalink a:hover {
			color: #aaa;
			text-decoration: none;
		}

		#comments .comment-permalink .delete-link,
		#comments .comment-permalink .reply-link {
			font-size: 16px;
			line-height: 50px;
			vertical-align: middle;
		}

		#comments .comment-permalink a.delete-link {
			color: #e99;
		}

		#comments .comment-permalink a.delete-link:hover {
			color: #b66;
		}

	#comments .comment-content {
		overflow: hidden;
		line-height: 20px;
	}

	#comments .odd {
		background-color: #fbfbfb;
/*
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#e7e7e7));
		background-image: -moz-linear-gradient(top,  #fbfbfb,  #e7e7e7);
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#fbfbfb',EndColorStr='#e7e7e7');
*/
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fbfbfb));
		background-image: -moz-linear-gradient(top,  #fff,  #fbfbfb);
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#fff',EndColorStr='#fbfbfb');
		border-color: #eee;
	}

	#comments .even {
		background-color: #f6f6eb;
/*
		background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6eb), to(#e7e5be));
		background-image: -moz-linear-gradient(top,  #f6f6eb,  #e7e5be);
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#f6f6eb',EndColorStr='#e7e5be');
*/
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f6f6eb));
		background-image: -moz-linear-gradient(top,  #fff,  #f6f6eb);
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#fff',EndColorStr='#f6f6eb');
		border-color: #f0efda;
	}

/*
	#comments .odd.staff {
		background: #f5f5bf;
	}

	#comments .even.staff {
		background: #f6f6a5;
	}
*/

	/* comments depth */
	#comments .depth-1 {
		margin-left: 30px;
	}

	#comments .depth-2 {
		margin-left: 60px;
	}

	#comments .depth-3 {
		margin-left: 90px;
	}

	#comments .depth-4 {
		margin-left: 120px;
	}

	/* probably not needed, saved for historical reasons */
	#comments .depth-5 {
		margin-left: 150px;
	}

	#comments .depth-6 {
		margin-left: 180px;
	}

#footer {
	color: #b7b6a4;
	font-weight: bold;
	background-color: #918f61;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#918f61), to(#4c4b33));
	background-image: -moz-linear-gradient(top,  #918f61,  #4c4b33);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#918f61',EndColorStr='#4c4b33');
	border-color: #4c4b33;
	margin-bottom: 20px;
	padding: 7px 15px 6px 20px;
	width: 763px;
	float:right;
	text-shadow: 1px 1px 1px #444;
	-moz-text-shadow: 1px 1px 1px #444;
	-webkit-text-shadow: 1px 1px 1px #444;
}

	#footer img {
		vertical-align: middle;
		opacity: 0.5;
	}

	#footer img:hover {
		opacity: 1;
	}

	#footer div {
		display: inline-block;
	}

	#footer a {
		color: #b7b6a4;
		line-height: 22px;
	}

	#footer a:hover {
		color: #fff;
		text-decoration: none;
		text-shadow: 1px 1px 1px #333;
		-moz-text-shadow: 1px 1px 1px #333;
		-webkit-text-shadow: 1px 1px 1px #333;
	}

#userprofile {
	position: relative;
}

#userprofile.ownprofile {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fffdd6), to(#fff));
	background-image: -moz-linear-gradient(top,  #fffdd6,  #fff);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#fffdd6',EndColorStr='#fff');
	background-color: #fffdd6;
}

	#userprofile .header,
	#userprofile table {
		width: 658px;
	}

	#userprofile .gravatar {
		position: absolute;
		top: 20px;
		right: 20px;
	}

#docs {}

	#docs i, #docs b {
/*
		color: #692556;
*/
		color: #918f61;
	}

	#docs dt {
		color: #4c4b33;
		padding: 10px 0;
	}

	#docs cite, #docs blockquote {
		background: #eee2eb;
		font-family: monospace;
		font-style: normal;
		padding: 1px 3px;
	}

	#docs .header {
		color: #4c4b33;
		background-color: #9dc547;
		border-bottom: thin solid #918f61;
		padding: 10px;
	}

	#docs .allowed-methods {
		padding: 10px;
	}

	#docs .name {
		background: #c6de92;
		border-bottom: thin solid #9dc547;
		border-top: thin solid #9dc547;
		padding: 15px 10px;
		font-size: 110%;
		font-family: monospace;
		font-weight: bold;
		letter-spacing: 1px;
	}

	#docs .docutils dd {

	}

.box {
	background: #fff;
	border: 1px solid #918f61;
	font-size: 13px;
	margin: 5px 0;
	padding: 20px;
}

	.box .header {
		color: #9dc547;
		font-size: 20px;
		border-bottom: thin solid;
		margin-bottom: 10px;
	}

	.box .header a {
		color: inherit;
	}

.badge {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fffdd6), to(#ebd8b2));
	background-image: -moz-linear-gradient(top,  #fffdd6,  #ebd8b2);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#fffdd6',EndColorStr='#ebd8b2');
	background-color: #fffdd6;

	border: 1px solid #918f61;
	width: 200px;
	padding: 20px;
/*
	min-height: 80px;
*/
	margin: 5px;
	float: left;
	position: relative;
}

	.badge b {
		font-size: 20px;
		margin-bottom: 10px;
		display: block;
	}

	.badge img {
		width: 50px;
		height: 50px;
		display: block;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.badge .date {
		font-size: 11px;
		font-style: italic;
		margin-top: -10px;
		margin-bottom: 10px;
	}

.form_field {
	text-align: right;
	width: 500px;
	padding: 10px 0;
	clear: both;
	position: relative;
}

	.form_field input, .form_field select {
		width: 43%;
		margin-right: 10px;
	}

	.form_field input[type=submit] {
		width: 490px;
	}

	.form_field label {
		font-weight: bold;
		width: 45%;
		height: 28px;
		line-height: 28px;
		margin-right: 20px;
		display: block;
		float: left;
	}

	.form_field.required label:before {
		color: #f00;
		content: "*";
		margin-right: 3px;
	}

	.form_field span {
		color: #666;
		font-size: 11px;
		font-weight: normal;
		margin-top: -14px;
		display: block;
	}

.form_field.error {
	color: #800;
	background: #f66;
	border-color: #d44;
}

.form_field.error:hover {
	color: #600;
	background: #e55;
	border-color: #d33;
}

	.form_field.error span {
		color: #a33;
	}

	.form_field.error .form-error {
		font-size: 85%;
		position: absolute;
		right: -260px;
		top: 20px;
	}

.detail {
	width: 50%;
}

.no-map-image {
	width: 49%;
}

	.no-map-image div {
		text-align: center;
		margin: 0 auto;
		width: 80%;
		border: 3px solid #c5c5c5;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		padding: 5px;
		color: #c5c5c5;
		font: 175% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	}

.box.left { margin-right: 10px; }
.box.right { margin-top: 5px; }
.box.right.top { margin-top: 5px; }
.box.left, .box.right { width: 353px; }
.box.full { width: 758px; float: right; }

.left { float: left; }
.right { float: right; }
.full { overflow: hidden; clear: both; }

.center { text-align: center; }

.green { color: #9dc547; }
.brown { color: #918f61; }
.red { color: #f44; }
