{% extends "base.html" %}{% load comments %}
{% block topic %}Thanks for commenting.{% endblock topic %}
{% block extra_head %}
	<!-- Sorry, I don't like it either. -->
	<meta http-equiv="refresh" content="2;url={{ comment.content_object.get_absolute_url }}#cm-{{ comment.id }}">
{% endblock extra_head %}
{% block content %}
	<div class="box full">
		<div class="header">Thank you for your comment.</div>
		
		You will be redirected back shortly. If it won't happen in next few seconds, <a href="{{ comment.content_object.get_absolute_url }}#cm-{{ comment.id }}">click here</a>.
	</div>
{% endblock content %}