{% extends "base.html" %}{% load comments %}
{% comment %}
context variables:
	form
	latest_entries
	login_form
	next
{% endcomment %}
{% block title %}beta - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
	{{ block.super }}
	{% load breadcrumb_tags %}
	{% add_crumb 'Beta' 'beta_form' %}
{% endblock %}
{% block content %}
	<div class="box full">
		<div class="header">Teerace beta</div>
		<p>
			Sorry, Teerace is in closed beta phase right now, which means only selected people can use this site.
		</p>
		<p>
			You can read more about Teerace <a href="{% url about %}">here</a>.
		</p>
		<p>
			Hang around #teerace channel on Quakenet, we may give you a key eventually.
		</p>
	</div>

	{% if latest_entries %}
	<div id="blog" class="box full">
		<div class="header">Latest news</div>

		{% for entry in latest_entries %}
		{% if entry.is_micro %}
		<div class="post micro home">
			<div class="header"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></div>
			<div class="content">
				{% if entry.excerpt %}
					{{ entry.excerpt_html|safe }}
				{% else %}
					{{ entry.content_html|safe }}
				{% endif %}
			</div>
			<br>
			<div class="post-line">{{ entry.created_at }} / <span class="poster"><a href="{% url profile entry.created_by.id %}">{{ entry.created_by.get_full_name|default:entry.created_by }}</a></span></div>
		</div>
		{% else %}
		<div class="post home">
			<div class="header"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></div>
			<div class="post-line">{{ entry.created_at }} / <span class="poster"><a href="{% url profile entry.created_by.id %}">{{ entry.created_by.get_full_name|default:entry.created_by }}</a></span></div>
			<div class="content">
				{% if entry.excerpt %}
					{{ entry.excerpt_html|safe }}
				{% else %}
					{{ entry.content_html|safe }}
				{% endif %}
			</div>
			{% if entry.excerpt_html %}
			<a class="read-more" href="{{ entry.get_absolute_url }}#read-more">Read the rest of this entry...</a>
			{% endif %}
			{% if entry.enable_comments %}
			{% get_comment_count for entry as comment_count %}
			<div class="comment-count"><a href="{{ entry.get_absolute_url }}#comments">{{ comment_count }} comment{{ comment_count|pluralize }}</a></div>
			{% endif %}
		</div>
		{% endif %}
		{% endfor %}
	</div>
	{% endif %}

	</div>
	<div class="box full">
		If you have an account already, just log in with the form below:

		<form method="post" action="{% url login %}">
			{% with login_form as form %}
			{% include "snippets/form.html" %}
			{% endwith %}
			<input type="hidden" name="next" value="{{ next }}">
			<div class="form_field">
				<input type="submit" value="Login">
			</div>
		</form>

		Otherwise, provide your beta key:

		<form method="post" action="{% url beta_form %}">
			{% include "snippets/form.html" %}
			<div class="form_field">
				<input type="submit" value="Open Sesame">
			</div>
		</form>
	</div>
{% endblock %}
