{% extends "base.html" %}
{% comment %}
context variables:
	form 
	new_keys
{% endcomment %}
{% block title %}moar keys - beta - {{ block.super }}{% endblock title %}
{% block content %}
	<div class="box full">
		{% if new_keys %}
		Just baked key{{ new_keys|pluralize }}:
		<ul>
			{% for key in new_keys %}
				<li>{{ key }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		
		<div class="header">Giaf moar kies</div>
		<form method="post" action="{% url beta_moar_keys %}">
			{% include "snippets/form.html" %}
			<div class="form_field">
				<input type="submit" value="Giaf">
			</div>
		</form>
	</div>
{% endblock %}
