<!DOCTYPE html>
<html>
<head>
	<title>Teerace</title>
	<meta charset="utf-8">
	<meta name="description" content="Teerace is a project gathering results from a network of trusted Teeworlds Race-mod servers. The idea behind it is to create a global ranking/stats system covering as wide span of results as we manage to obtain.">
	<meta name="keywords" content="Teeworlds, Teerace, teeworlds-race, teeathon, game, gaming, racemaps, racing">
	<link rel="stylesheet" type="text/css" href="/media/css/base.css">
	<link rel="stylesheet" type="text/css" href="/media/css/502.css">
	<link rel="shortcut icon" href="/media/images/favicon.ico">
</head>

<body>
	<div id="e502">
		<div sprite="tinylogo"></div>
		<div class="content">
			<!--<h1>There is something in <em>tee</em> air</h1>-->
			<h1>Temporarily down for maintenance.</h1>
			<h2>We are currently undergoing scheduled maintenance. Sorry for inconvenience.</h2>
			<h3>Please try in a few minutes.</h3>
			<img src="/media/images/sadtee.png">
		</div>
	</div>
</body>