{% load menu %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}teerace{% endblock title %}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/base.css">
	<link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico">
	{% block extra_js %}
	{% endblock extra_js %}
	{% block extra_css %}
	{% endblock extra_css %}
</head>

<body>
	{% url home as url_home %}
	<div id="header">
<!--
			<h1><a href="{{ url_home }}"><span class="green">tee</span><span class="brown">race</span></a></h1>
-->
			<a href="{{ url_home }}"><img src="/media/images/teeracelogo.png" alt="teerace" title="teerace logo"></a>
	</div>

	<div id="page">
		<div id="menu">
			{% url blog as url_blog %}
			{% url userlist as url_userlist %}
			{% url maps as url_maps %}
			{% url ranks as url_ranks %}
			{% url user_activity as url_activity %}{# hack #}
			{% url faq-topic-list as url_help %}
			<ul>
				<li{% current request url_home %}><a href="{{ url_home }}">Home</a></li><li{% current request url_blog %}><a href="{{ url_blog }}">Blog</a></li><li{% current request url_userlist %}><a href="{{ url_userlist }}">Players</a></li><li{% current request url_maps %}><a href="{{ url_maps }}">Maps</a></li><li><a href="">Awards</a></li><li{% current request url_ranks %}{% current request url_activity %}><a href="{{ url_ranks }}">Ranks</a></li><li{% current request url_help %}><a href="{{ url_help }}">Help</a></li>{% if user.is_staff or user.is_superuser %}<li class="glow"><a href="/admin/">Admin</a></li>{% endif %}
			</ul>
			<div id="submenu" class="full">
				{% comment %}
				{% block submenu %}
					<ul class="left">
						<li><a href="{% url blog %}">Entries</a></li>
					</ul>
				{% endblock submenu %}
				{% endcomment %}
				{% block submenu %}{% endblock submenu %}
				<div id="user-box" class="right">
					{% if user.is_authenticated %}Hi, <em><a href="{% url profile user.id %}">{{ user }}</a></em> <a class="button" href="{% url settings %}">Settings</a> <a class="button" href="{% url logout %}?next={{ request.path }}">Logout</a>
					{% else %}
					<a class="button" href="{% url login %}?next={{ request.path }}">Login</a> <a class="button" href="{% url register %}">Register</a>
					{% endif %}
				</div>
			</div>
		</div>

		<div id="content">
			<div id="breadcrumbs">
				{% block breadcrumb %}
					{% load breadcrumb_tags %}
					{% add_crumb 'Home' 'home' %}
				{% endblock %}
				{% render_breadcrumbs %}
			</div>

			{% if messages %}
			<div id="messages">
			    {% for message in messages %}
			    <div{% if message.tags %} class="{{ message.tags }} box full"{% endif %}>
					<p>{{ message }}</p>
				</div>
			    {% endfor %}
			</div>
			{% endif %}

			{% block content %}
			{% endblock content %}

			<div id="footer" class="box full">
				<div class="left"><a href="#header">↑ Top</a> &middot; <a href="#FIXME">About</a></div>
				<div class="right">powered by<a href="http://www.djangoproject.com/"><img src="{{ MEDIA_URL }}admin_tools/images/django.png" height="22" alt="Powered by Django." title="Powered by Django."></a></div>
			</div>
		</div>
	</div>
</body>
