<!DOCTYPE html>
<html>
<head>
	<title>teerace</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/media/css/base.css">
</head>

<body>
	<div id="header">
		<div id="in">
			<div id="logo"><a href="{% url home %}"><img src="/media/images/trlogo.png" alt="Teerace logo"></a></div>
<!--			<div id="user-box">
				<div>
					{% if user.profile.avatar %}
					<img src="{{ user.profile.avatar.url }}" alt="avatar" />
					{% else %}
					<img src="{{ MEDIA_URL }}uploads/avatars/2.png" />
					{% endif %}
					<p>Hello, {{ user.username|default:"Guest" }}!<br>{% if user.is_authenticated %}<a href="{% url accounts.views.profile_settings %}">Settings</a> - <a href="{% url accounts.views.profile_details user.id %}">Your profile</a> - <a href="{% url accounts.views.logout %}?next={{ request.path }}">Logout</a>{% else %}<a href="{% url accounts.views.login %}?next={{ request.path }}">Login</a> (test:test) - <a href="{% url accounts.views.register %}">Sign up</a>{% endif %}{% if user.is_superuser or user.is_staff %}<br><a id="admin_url" href="/admin/"><span>Admin panel</span></a>{% endif %}</p>
				</div>
-->
			</div>
		</div>
	</div>
	<div id="page">
		<div id="menu">
			<ul>
				<li><a href="">Admin</a></li>
				<li><a href="">Help</a></li>
				<li><a href="">Awards</a></li>
				<li><a href="">Clans</a></li>
				<li><a href="">Maps</a></li>
				<li><a href="">Players</a></li>
				<li><a href="">Board</a></li>
				<li id="current"><a href="">Home</a></li>
			</ul>
		</div>

		<div id="content">
<!--
			<div id="breadcrumbs">
				<a href="">a</a>
			</div>
-->
			{% block content %}{% endblock content %}
		</div>

		<div id="footer">
			Served by <span title="django">twelve mythical ponies</span>. For tees, with <span id="heart" title="love!">&hearts;</span>
		</div>
	</div>
</body>
