{% extends "base.html" %}{% load human_duration %}{% load race_diff %}{% load comments %}
{% comment %}
context variables:
	latest_entry
	maps
	users
	run_count
	runs_today
	runs_yesterday
	total_playtime
	total_downloads
{% endcomment %}
{% block extra_head %}
	<link rel="alternate" type="application/atom+xml" title="Feed of recent entries" href="{% url blog_feed %}">
{% endblock extra_head %}
{% block title %}welcome - {{ block.super }}{% endblock title %}
{% block content %}
			{% if user.is_authenticated %}
			<div class="box full">
				<div class="header">Your activity</div>
				<table>
					<tr class="no-border">
						<th rowspan="2">Date</th>
						<th rowspan="2">Map</th>
						<th rowspan="2">Time</th>
						<th class="center" colspan="2">Diff</th>
						<th rowspan="2"></th>
					</tr>
					<tr>
						<th class="center">PB</th>
						<th class="center">WR</th>
					</tr>
					{% for run in user_runs %}
					<tr>
						<td><span title="{{ run.created_at }}">{{ run.created_at|timesince }} ago</span></td>
						<td>{{ run.map }}</td>
						<td>{{ run.time|floatformat:settings.RESULT_PRECISION }}</td>
						<td class="center">{% diff_color run.diff_from_personal_best %}</td>
						<td class="center">{% race_diff run run.map.best_score %}</td>
						<td>{% if run.is_personal_best %}PB!{% endif %}{% if run.was_personal_best %}old PB{% endif %}{% if run.is_record %}WR!{% endif %}{% if run.was_record %}was WR{% endif %}</td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="6">Hey! You haven't finished any run yet!</td>
					</tr>
					{% endfor %}
					<tfoot>
						<td colspan="6"><a href="{% url user_activity %}">More &raquo;</a></td>
					</tfoot>
				</table>
			</div>
			{% endif %}

			<div class="box right top">
				<div class="header">Teerace quickstart</div>
				<h2>1. <a href="{% url register %}">Sign up</a></h2>
				<h2>2. <a href="{% url first_steps %}">Follow these instructions</a></h2>

				<div class="header">Teerace Links</div>
				<p><a href="http://teeworlds.com">Teeworlds</a></p>
				<p><a href="http://code.ksocha.com/teerace/">Project page</a></p>
			</div>

			{% if latest_entry %}
			<div id="blog" class="box left">
				<div class="header">Blog</div>

				<h2><a href="{{ latest_entry.get_absolute_url }}">{{ latest_entry.title }}</a></h2>
				<div class="post-line">{{ latest_entry.created_at }} / <span class="poster"><a href="{{ latest_entry.created_by.get_absolute_url }}">{{ latest_entry.created_by.get_full_name|default:latest_entry.created_by }}</a></span></div>
				<p>
					{% if latest_entry.excerpt_html %}
						{{ latest_entry.excerpt_html|safe }}
					{% else %}
						{{ latest_entry.content_html|safe }}
					{% endif %}
				</p>
				{% if latest_entry.excerpt_html %}
				<a href="{{ latest_entry.get_absolute_url }}#read-more">Read more</a>
				{% endif %}
				{% if latest_entry.enable_comments %}
				{% get_comment_count for latest_entry as comment_count %}
				<div class="comment-count"><a href="{{ latest_entry.get_absolute_url }}#comments">{{ comment_count }} comment{{ comment_count|pluralize }}</a></div>
				{% endif %}
			</div>
			{% endif %}

			<div class="box left">
				<div class="header">Statistics overview</div>
				<table>
					<tr>
						<td class="label">Registered users:</td>
						<td class="content">{{ users|length }}{% if users %} <span class="info">(latest: {% with users|last as last_user %}{{ last_user.username }}{% endwith %})</span>{% endif %}</td>
					</tr>
					<tr>
						<td class="label">Race maps:</td>
						<td class="content">{{ maps|length }}{% if maps %} <span class="info">(latest: {% with maps|last as last_map %}{{ last_map.name }}{% endwith %})</span>{% endif %}</td>
					</tr>
					<tr>
						<td class="label">Downloaded maps:</td>
						<td class="content">{{ total_downloads }} <span class="info">(web)</span></td>
					</tr>
					<tr>
						<td class="label">Races today:</td>
						<td class="content">{{ runs_today|length }}</td>
					</tr>
					<tr>
						<td class="label">Races yesterday:</td>
						<td class="content">{{ runs_yesterday|length }}</td>
					</tr>
					<tr>
						<td class="label">Finished races:</td>
						<td class="content">{{ run_count }}</td>
					</tr>
					<tr>
						<td class="label">Time of finished races:</td>
						<td class="content">{{ total_playtime|default_if_none:0|sectodur }}</td>
					</tr>
				</table>
			</div>
{% endblock content %}
