{% extends "base.html" %}
{% block title %}welcome{% endblock title %}
{% block content %}
			<div id="blog" class="box full">
				<div class="header">Latest News</div>

				<h2><a href="?page=journal&amp;id=2344">Some good news</a></h2>
				<div class="post-line">(posted by: <span class="poster">chmielu</span>) | 2008-10-06</div>
				<p>
Well, my internet is working again so I could commit my change. These changes includes loads of smaller changes here and there but the biggest change is this.<br>
<br>
Client and server side <b>demo recording</b>! Yes, you read it right. This includes a nice demo viewer with seekbar (scrubbable), pause, play, slow motion and fast forward options.<br>
<br>
There is a few quirks with it and the file size hasn't been optimized yet but it will definitely make be in the 0.5.0 release. An hour or two extra with it will make it really awesome.<br>
<br>
Until then, cheerio.
				</p>
				<div class="comments"><a href="forum/viewtopic.php?id=2344">(31 COMMENTS)</a></div>
			</div>

			<div class="box left">
				<div class="header">Statistics overview</div>
				<table class="players">
					<tr>
						<td class="label">Last stats reset:</td>
						<td class="content">October 20th 2010</td>
					</tr>
					<tr>
						<td class="label">Logged players:</td>
						<td class="content">88,478 <span class="info">(ever)</span></td>
					</tr>
					<tr>
						<td class="label">Active players:</td>
						<td class="content">6,800</td>
					</tr>
					<tr>
						<td class="label">Registered users:</td>
						<td class="content">1,128</td>
					</tr>
					<tr>
						<td class="label">Linked nicknames:</td>
						<td class="content">534</td>
					</tr>
					<tr>
						<td class="label">Race maps:</td>
						<td class="content">1,613</td>
					</tr>
					<tr>
						<td class="label">Freestyle maps:</td>
						<td class="content">58</td>
					</tr>
					<tr>
						<td class="label">Downloaded maps:</td>
						<td class="content">50,936 <span class="info">(web)</span></td>
					</tr>
					<tr>
						<td class="label">Races today:</td>
						<td class="content">1,827</td>
					</tr>
					<tr>
						<td class="label">Races yesterday:</td>
						<td class="content">1,951</td>
					</tr>
					<tr>
						<td class="label">Started races:</td>
						<td class="content">2,676,255</td>
					</tr>
					<tr>
						<td class="label">Finished races:</td>
						<td class="content">145,015</td>
					</tr>
					<tr>
						<td class="label">Time of finished races:</td>
						<td class="content">1M 17D 23h 57m</td>
					</tr>
					<tr>
						<td class="label">Pure racing time:</td>
						<td class="content">8M 16D 20h 8m</td>
					</tr>
					<tr>
						<td class="label">Total Playtime:</td>
						<td class="content">1Y 5M 20D 12h 28m</td>
					</tr>
				</table>
			</div>

			<div class="box right top">
				<div class="header">User informations</div>
				<table class="players">
					<tr>
						<th>Map</td>
						<th>Time</td>
						<th>Difference</td>
					</tr>

					<tr>
						<td>q3dm17</td>
						<td>0:20:04</td>
						<td><span class="green">-0.05</span></td>
					</tr>
					<tr>
						<td>q3dm1</td>
						<td>0:20:06</td>
						<td><span class="red">+0.5</span></td>
					</tr>
					<tr>
						<td>q3ctf2</td>
						<td>0:20:05</td>
						<td><span class="green">-6</span></td>
					</tr>
				</table>
			</div>

			<div class="box right">
				<div class="header">Teerace Quickstart</div>
				<h2>1. <a href="">register a racenetID</a></h2>
				<h2>2. <a href="">get your inGame Nickname</a></h2>
				Benefits of registration and ingame linkage:
				<ul>
					<li>
						play with any nickname but collect<br/>
						your stats under the linked one
					</li>
					<li>
						protect your linked nickname from<br/>
						beeing used by other players
					</li>
					<li>
						display your ingame nickname in<br/>
						the warsow-race.net communiy
					</li>
				</ul>

				<div class="header">Useful Downloads</div>
				<p><a href="">Warsow 0.5 Download Page</a></p>
				<p><a href="">Quake 3 Texture Replacement Pack</a></p>
				<p><a href="">Warsow 0.21 Compatibility Texture Pack</a></p>

				<div class="header">Teerace Links</div>
				<span><a href="http://racesow.warsow-race.net">Project page</a></span>,
				<span><a href="http://www.moddb.com/mods/racesow">ModDB</a></span>,
				<span><a href="https://www.ohloh.net/p/racesow">Ohloh</a></span>,
				<span><a href="http://www.comboutique.com/shop/homeboutique-4951.html?lang=EN" target="_blank">Race Clothing</a></span>
			</div>
{% endblock content %}
