{% extends "base.html" %}
{% block title %}about - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
	{{ block.super }}
	{% load breadcrumb_tags %}
	{% add_crumb 'About' 'about' %}
{% endblock %}
{% block content %}
	<div class="box full">
		<div class="header">What is Teerace?</div>
		<p>
			Teerace is a project gathering results from a network of trusted Teeworlds Race-mod servers. The idea behind it is to create a global ranking/stats system covering as wide span of results as we manage to obtain.
		</p>

		<div class="header">Who made Teerace?</div>
		<table>
			<tr>
				<th>Contributor</th>
				<th>Role</th>
			</tr>
			<tr>
				<td><a href="https://github.com/chaosk">chaosk</a></td>
				<td>Main developer</td>
			</tr>
			<tr>
				<td><a href="https://github.com/chmielu">chmielu</a></td>
				<td>Supporting developer, web designer</td>
			</tr>
			<tr>
				<td><a href="https://github.com/Redix">Redix</a></td>
				<td>Teerace-ready Race gameserver developer</td>
			</tr>
			<tr>
				<td><a href="https://github.com/SushiTee">SushiTee</a></td>
				<td>Teerace-ready Race gameserver developer, web application maintainer</td>
			</tr>
			<tr>
				<td><a href="https://github.com/GreYFoX">GreYFoX</a></td>
				<td>Teerace-ready DDRace gameserver developer</td>
			</tr>
			<tr>
				<td><a href="https://github.com/Ubu-">Ubu</a></td>
				<td>One-man think tank</td>
			</tr>
			<tr>
				<td><a href="https://github.com/Landil">Landil</a></td>
				<td>Graphics creator</td>
			</tr>
			<tr>
				<td><a href="https://github.com/gloney">gloney</a></td>
				<td>Spell checker a.k.a. Grammar Nazi</td>
			</tr>
		</table>
		<p>
			If you feel you should be listed above, but you are not, I'm deeply sorry for that, please contact us using <a href="https://github.com/chaosk/teerace/issues/">GitHub Issues</a>.
		</p>

		<div class="header">What builds Teerace?</div>
		<p>
			Teerace depends on many 3rd-party projects. Here's the complete list of them:
			<ul>
				<li>
					<strong><a href="http://python.org/">python</a></strong> - a programming language that you should dive into
					<ul>
						<li>
							<strong><a href="http://djangoproject.com/">django</a></strong> - open source web application framework
							<ul>
								<li><strong><a href="https://github.com/eldarion/brabeion/">brabeion</a></strong> - badges, unleashed</li>
								<li><strong><a href="https://bitbucket.org/izi/django-admin-tools/">django-admin-tools</a></strong> - pretty admin site</li>
								<li><strong><a href="https://bitbucket.org/offline/django-annoying/">django-annoying</a></strong> - a must-have for fixing django annoying things</li>
								<li><strong><a href="https://bitbucket.org/smileychris/django-countries/">django-countries</a></strong> - provides country list</li>
								<li><strong><a href="http://code.google.com/p/django-crumbs/">django-crumbs</a></strong> - breadcrumbs solution</li>
								<li><strong><a href="https://github.com/benspaulding/django-faq/">django-faq</a></strong> - simple FAQ app</li>
								<li><strong><a href="https://github.com/twaddington/django-gravatar/">django-gravatar</a></strong> - Gravatar support</li>
								<li><strong><a href="https://github.com/ericflo/django-pagination/">django-pagination</a></strong> - pagination for dummies</li>
								<li><strong><a href="https://bitbucket.org/jespern/django-piston/">django-piston</a></strong> - RESTful API framework</li>
								<li><strong><a href="https://github.com/ericflo/django-threadedcomments/">django-threadedcomments</a></strong> - we just got served</li>
								<li><strong><a href="https://bitbucket.org/jmoiron/johnny-cache/">johnny-cache</a></strong> - low-level caching framework</li>
								<li><strong><a href="http://south.aeracode.org/">south</a></strong> - schema and data migrations</li>
							</ul>
						</li>
						<li><strong><a href="http://celeryproject.org/">celery</a></strong> - distributed task queue</li>
						<li><strong><a href="http://chandlerproject.org/Projects/MeTooCrypto">M2Crypto</a></strong> - Python encryption module, Teerace uses it for encrypting connection with its gameservers</li>
						<li><strong><a href="http://www.freewisdom.org/projects/python-markdown/">Markdown</a></strong> - ultimate markup language</li>
						<li><strong><a href="https://github.com/erdbeere/tml/">tml</a></strong> - Teeworlds map library, map data extraction and screenshot creation</li>
					</ul>
				</li>
				<li><strong><a href="http://nginx.org/">nginx</a></strong> - high-performance HTTP server</li>
				<li><strong><a href="http://projects.unbit.it/uwsgi/">uwsgi</a></strong> - application container server</li>
				<li><strong><a href="http://memcached.org/">memcached</a></strong> - cache backend</li>
				<li><strong><a href="http://www.rabbitmq.com/">rabbitmq</a></strong> - AMQP messaging system, backend for celery</li>
			</ul>
		</p>
	</div>
{% endblock content %}
