{% extends "base.html" %}
{% block title %}about - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
    {{ block.super }}
    {% load django_bootstrap_breadcrumbs %}
    {% breadcrumb 'About' 'about' %}
{% endblock %}
{% block content %}
    <div class="box full">
        <div class="header">What is Teerace?</div>
        <p>
            Teerace is a project gathering results from a network of trusted Teeworlds Race-mod servers. The idea behind it is to create a global ranking/stats system covering as wide span of results as we manage to obtain.
        </p>

        <div class="header">Who made Teerace?</div>
        <table>
            <tr>
                <th>Contributor</th>
                <th>Role</th>
            </tr>
            <tr>
                <td><a href="https://github.com/chaosk">chaosk</a></td>
                <td>Main developer</td>
            </tr>
            <tr>
                <td><a href="https://github.com/chmielu">chmielu</a></td>
                <td>Supporting developer, web designer</td>
            </tr>
            <tr>
                <td><a href="https://github.com/Redix">Redix</a></td>
                <td>Teerace-ready Race gameserver developer</td>
            </tr>
            <tr>
                <td><a href="https://github.com/SushiTee">SushiTee</a></td>
                <td>Teerace-ready Race gameserver developer, web application maintainer</td>
            </tr>
            <tr>
                <td><a href="https://github.com/GreYFoX">GreYFoX</a></td>
                <td>Teerace-ready DDRace gameserver developer</td>
            </tr>
            <tr>
                <td><a href="https://github.com/Ubu-">Ubu</a></td>
                <td>One-man think tank</td>
            </tr>
            <tr>
                <td><a href="https://github.com/Landil">Landil</a></td>
                <td>Graphics creator</td>
            </tr>
            <tr>
                <td><a href="https://github.com/gloney">gloney</a></td>
                <td>Spell checker a.k.a. Grammar Nazi</td>
            </tr>
        </table>
        <p>
            If you feel you should be listed above, but you are not, I'm deeply sorry for that, please contact us using <a href="https://github.com/chaosk/teerace/issues/">GitHub Issues</a>.
        </p>
    </div>
{% endblock content %}
