{% comment %}	
	:comment:
	    The comment object to be deleted.

	:is_free_threaded_comment:
	    True if comment to be deleted is a ``FreeThreadedComment``, and False
	    otherwise.

	:is_threaded_comment:
	    True if comment to be deleted is a ``ThreadedComment``, and False 
	    otherwise.

	:next:
	    The page to which the user should be redirected after successfully deleting
	    a comment.  This is usually to be used in a hidden input field in a form
	    that tells the view where to go next.
{% endcomment %}