{% extends "blog/base.html" %}{% load threadedcommentstags %}{% load gravatar %}
{% comment %}
context variables:
	entry
{% endcomment %}
{% block title %}{{ entry.title }} - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
	{{ block.super }}
	{% load breadcrumb_tags %}
	{% add_crumb entry.title 'blog_entry' entry.id %}
{% endblock %}
{% block extra_head %}
	{{ block.super }}
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.reply-link').click(function(){
				var comment = $(this).parent().parent('.comment');
				var child = $(comment).children('.comment-reply');

				if (child.css('display') == 'none') {
					child.show("fast");
					$(this).html('hide form');
				} else {
					child.hide("fast");
					$(this).html('reply');
				}
				return false;
			});
		});
	</script>
{% endblock %}
{% block content %}
	<div id="blog" class="box full">
		<div class="header"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></div>
		<div class="post-line">{{ entry.created_at }} / <span class="poster">{{ entry.created_by.get_full_name }}</span></div>
		<p>
			{{ entry.excerpt_html|safe }}
		</p>
		<p id="read-more">
			{{ entry.content_html|safe }}
		</p>
		{% get_comment_count for entry as comment_count %}

		<div class="comment-count"><a href="{{ entry.get_absolute_url }}#comments">{{ comment_count }} comment{{ comment_count|pluralize }}</a> / <a href="#comment-form">reply</a> / <a href="{{ entry.get_absolute_url }}">#</a></div>
		<div id="comments">
			{% get_threaded_comment_tree for entry as tree %}
			{% for comment in tree %}
				<div class="comment {% if comment.user.is_staff or comment.user.is_superuser %}staff {% endif %}depth-{{ comment.depth }} {% cycle 'even' 'odd' %}" id="cm-{{ comment.id }}">
					<div class="comment-permalink">{% if user.is_staff or user.is_superuser or user.id == comment.user_id %}<a class="delete-link" href="{% url tc_comment_delete comment.id %}">delete</a> {% endif %}<a class="reply-link" href="#">reply</a> <a title="Permalink" href="{{ entry.get_absolute_url }}#cm-{{ comment.id }}">#</a></div>
					<div class="comment-line">
						<img src="{{ comment.user.email|gravatar }}" alt="Gravatar for {{ comment.user.get_full_name|default:comment.user }}">
						<div class="comment-author-info">
							<span class="comment-author"><a href="{{ comment.user.get_absolute_url }}">{{ comment.user.get_real_name|default:comment.user }}</a></span>
							<span class="comment-date" title="{{ comment.date_submitted }}">{{ comment.date_submitted|timesince }} ago</span>
						</div>
					</div>
					<div class="comment-content">
						<p>
							{% auto_transform_markup comment %}
						</p>
					</div>
					<div class="comment-reply">
						<h2>Reply:</h2>
						<form method="POST" action="{% get_comment_url entry comment %}">
							<div class="form_field required">
								<textarea id="id_comment" rows="10" cols="40" name="comment"></textarea>
								<input type="submit" value="Submit comment">
								<input type="submit" name="preview" value="Preview comment">
							</div>
						</form>
					</div>
				</div>
			{% endfor %}
		</div>
		<h2 id="comment-form">Reply to Original:</h2>
		<form method="POST" action="{% get_comment_url entry %}">
			<div class="form_field">
				<textarea id="id_comment" rows="10" cols="40" name="comment"></textarea>
				<input type="submit" value="Submit comment">
				<input type="submit" name="preview" value="Preview comment">
			</div>
		</form>
	</div>
{% endblock %}
