{% extends "blog/base.html" %}{% load comments %}{% load pagination_tags %}
{% comment %}
context variables:
	entry_list
	paginator
{% endcomment %}
{% block content %}
	{% autopaginate entry_list %}
	<div class="box full" id="blog">
	{% paginate %}
	{% for entry in entry_list %}
			<div class="header"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></div>
			<div class="post-line">{{ entry.created_at }} / <span class="poster">{{ entry.created_by }}</span></div>
			<p>
				{% if entry.excerpt %}
					{{ entry.excerpt_html|safe }}
				{% else %}
					{{ entry.content_html|safe }}
				{% endif %}
			</p>
			{% if entry.excerpt_html %}
			<a href="{{ entry.get_absolute_url }}#read-more">Read more</a>
			{% endif %}
			{% get_comment_count for entry as comment_count %}
			<div class="comment-count"><a href="{{ entry.get_absolute_url }}#comments">{{ comment_count }} comment{{ comment_count|pluralize }}</a></div>
	{% empty %}
		No entries were found.
	{% endfor %}
	{% paginate %}
	</div>
{% endblock %}
