{% extends "blog/base.html" %}{% load threadedcommentstags %}{% load gravatar %}
{% comment %}
context variables:
	entry
{% endcomment %}
{% block title %}{{ entry.title }} - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
	{{ block.super }}
	{% load breadcrumb_tags %}
	{% add_crumb entry.title 'blog_entry' entry.id %}
{% endblock %}
{% block content %}
	<div id="blog" class="box full">
		<div class="header"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></div>
		<div class="post-line">{{ entry.created_at }} / <span class="poster">{{ entry.created_by }}</span></div>
		<p>
			{% if entry.excerpt_html %}
				{{ entry.excerpt_html|safe }}
			{% else %}
				{{ entry.content_html|safe }}
			{% endif %}
		</p>
		{% if entry.excerpt_html %}
		<a href="{{ entry.get_absolute_url }}#read-more">Read more</a>
		{% endif %}
		{% get_comment_count for entry as comment_count %}

		<div class="comment-count"><a href="{{ entry.get_absolute_url }}#comments">{{ comment_count }} comment{{ comment_count|pluralize }}</a> / <a href="{{ entry.get_absolute_url }}">#</a></div>
		<div id="comments">
			{% get_threaded_comment_tree for entry as tree %}
			{% for comment in tree %}
				<div class="comment {% if comment.user.is_staff or comment.user.is_superuser %}staff {% endif %}depth-{{ comment.depth }} {% cycle 'even' 'odd' %}" id="cm-{{ comment.id }}">
					<div class="comment-permalink"><a title="Permalink" href="{{ entry.get_absolute_url }}#cm-{{ comment.id }}">#</a></div>
					<div class="comment-line">
						<img src="{{ comment.user.email|gravatar }}" alt="Gravatar for {{ comment.user.get_full_name|default:comment.user }}">
						<div class="comment-author-info">
							<span class="comment-author"><a href="{{ comment.user.get_absolute_url }}">{{ comment.user.get_real_name|default:comment.user }}</a></span>
							<span class="comment-date" title="{{ comment.date_submitted }}">{{ comment.date_submitted|timesince }} ago</span>
						</div>
					</div>
					<div class="comment-content">
						<p>
							{% auto_transform_markup comment %}
						</p>
					</div>
					reply:
					<form method="POST" action="{% get_comment_url entry comment %}">
						{% get_threaded_comment_form as form %}
						{% include "snippets/form.html" %}
						<div class="form_field">
							<input type="submit" value="Submit comment">
							<input type="submit" name="preview" value="Preview comment">
						</div>
					</form>
				</div>
			{% endfor %}
		</div>
		<h4>Reply to Original:</h4>
		<form method="POST" action="{% get_comment_url entry %}">
			{% get_threaded_comment_form as form %}
			{% include "snippets/form.html" %}
			<div class="form_field">
				<input type="submit" value="Submit comment">
				<input type="submit" name="preview" value="Preview comment">
			</div>
		</form>
	</div>
{% endblock %}
