{% extends "blog/base.html" %}{% load comments %}{% load threadedcomments_tags %}{% load markup %}{% load gravatar %}
{% comment %}
context variables:
	entry
{% endcomment %}
{% block title %}{{ entry.title }} - {{ block.super }}{% endblock title %}
{% block breadcrumb %}
	{{ block.super }}
	{% load breadcrumb_tags %}
	{% add_crumb entry.title 'blog_entry' entry.id %}
{% endblock %}
{% block extra_head %}
	{{ block.super }}
{% if user.is_authenticated %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('.reply-link').click(function(){
				var comment = $(this).parent().parent('.comment');
				var child = $(comment).children('.comment-reply');

				if (child.css('display') == 'none') {
					child.show("fast");
					$(this).html('hide form');
				} else {
					child.hide("fast");
					$(this).html('reply');
				}
				return false;
			});
		});
	</script>
{% endif %}
{% endblock %}
{% block content %}
	<div id="blog" class="box full">
		<div class="post">
			<img src="{% gravatar_url entry.created_by.email 60 %}" class="gravatar" alt="{{ entry.created_by.username }}'s gravatar" title="{{ entry.created_by.username }}'s gravatar">
			<div class="header"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></div>
			<div class="post-line">{{ entry.created_at }} / <span class="poster"><a href="{% url 'profile' entry.created_by.id %}">{{ entry.created_by.get_full_name|default:entry.created_by }}</a></span></div>
			<div id="read-more">
				{{ entry.content_html|safe }}
			</div>

			{% if not entry.enable_comments %}
			<div class="comment-count">comments disabled / <a href="{{ entry.get_absolute_url }}">#</a></div>
		</div>
			{% else %}
			{% get_comment_count for entry as comment_count %}
			<div class="comment-count"><a href="{{ entry.get_absolute_url }}#comments">{{ comment_count }} comment{{ comment_count|pluralize }}</a> / {% if user.is_authenticated %}<a href="#comment-form">reply</a>{% else %}<a href="{% url 'login' %}?next={{ entry.get_absolute_url }}%23comment-form">login to reply</a>{% endif %} / <a href="{{ entry.get_absolute_url }}">#</a></div>
		</div>
		<div id="comments">
			{% get_comment_list for entry as comment_list %}
			{% for comment in comment_list|fill_tree|annotate_tree %}
				{% if comment.is_removed %}
				<div class="comment depth-{{ comment.depth }} {% if comment.last %}close {% endif %}{% cycle 'even' 'odd' %} removed" id="cm-{{ comment.id }}">
					<div class="comment-content">
						<p>
							This comment has been removed by the site staff
						</p>
					</div>
				</div>
				{% else %}
				<div class="comment depth-{{ comment.depth }} {% if comment.last %}close {% endif %}{% if comment.user.is_staff or comment.user.is_superuser %}staff {% endif %} {% cycle 'even' 'odd' %}" id="cm-{{ comment.id }}">
					<div class="comment-permalink">{% if user.is_staff or user.is_superuser %}<a class="delete-link" href="{% url 'comments-delete' comment.id %}">delete</a> {% endif %}{% if user.is_authenticated %}<a class="reply-link" href="#">reply</a>{% else %}<a class="reply-link" href="{% url 'login' %}?next={{ entry.get_absolute_url }}%23cm-{{ comment.id }}">login to reply</a>{% endif %} <a title="Permalink" href="{{ entry.get_absolute_url }}#cm-{{ comment.id }}">#</a></div>
					<div class="comment-line">
						<img src="{% gravatar_url comment.user.email 50 %}" alt="Gravatar for {{ comment.user.get_full_name|default:comment.user }}">
						<div class="comment-author-info">
							<span class="comment-author"><a href="{{ comment.user.get_absolute_url }}">{{ comment.user.get_real_name|default:comment.user }}</a></span>
							<span class="comment-date" title="{{ comment.submit_date }}">{{ comment.submit_date|timesince }} ago{% if user.is_staff or user.is_superuser %} / {{ comment.ip_address }}{% endif %}</span>
						</div>
					</div>
					<div class="comment-content">
						<p>
							{{ comment.comment|markdown }}
						</p>
					</div>
					{% if user.is_authenticated %}
					<div class="comment-reply">
						<h2>Reply:</h2>
						{% render_comment_form for entry with comment.id %}
					</div>
					{% endif %}
				</div>
				{% endif %}
			{% endfor %}
		</div>
		{% if user.is_authenticated %}
		<h2 id="comment-form">Reply to Original:</h2>
		{% render_comment_form for entry %}
		{% else %}
		<h2 id="comment-form"><a href="{% url 'login' %}?next={{ entry.get_absolute_url }}%23comment-form">Login to reply</a></h2>
		{% endif %}
		{% endif %}{# end of if: not enable_comments #}
	</div>
{% endblock %}
