{% extends "blog/base.html" %}
{% comment %}
context variables:
	entry_list
	is_paginated
	paginator
	page_obj
{% endcomment %}
{% block content %}
	{% if is_paginated %}
		<div class="pagination">
			<span class="step-links">
				{% if page_obj.has_previous %}
				<a href="?page={{ page_obj.previous_page_number }}">previous</a>
				{% endif %}

				<span class="current">
					Page {{ page_obj.number }} of {{ paginator.num_pages }}.
				</span>

				{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}">next</a>
				{% endif %}
			</span>
		</div>
	{% endif %}
	<div class="box full" id="blog">
	{% for entry in entry_list %}
			<div class="header"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></div>
			<div class="post-line">{{ entry.created_at }} / <span class="poster">{{ entry.created_by }}</span></div>
			<p>
				{% if entry.excerpt_html %}
					{{ entry.excerpt_html|safe }}
				{% else %}
					{{ entry.content_html|safe }}
				{% endif %}
			</p>
			{% if entry.excerpt_html %}
			<a href="{{ entry.get_absolute_url }}#read-more">Read more</a>
			{% endif %}
			<div class="comment-count"><a href="{{ entry.get_absolute_url }}#comments">{{ entry.comment_count }} comment{{ entry.comment_count|pluralize }}</a></div>
	{% empty %}
		No entries were found.
	{% endfor %}
	</div>
	{% if is_paginated %}
		<div class="pagination">
			<span class="step-links">
				{% if page_obj.has_previous %}
				<a href="?page={{ page_obj.previous_page_number }}">previous</a>
				{% endif %}

				<span class="current">
					Page {{ page_obj.number }} of {{ paginator.num_pages }}.
				</span>

				{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}">next</a>
				{% endif %}
			</span>
		</div>
	{% endif %}
{% endblock %}
